body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12164 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:568px;
}
#u12165 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u12166 {
  position:absolute;
  left:20px;
  top:62px;
  width:320px;
  height:120px;
}
#u12167 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12168 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12169 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u12170 {
  position:absolute;
  left:25px;
  top:29px;
  width:26px;
  height:26px;
}
#u12171 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12172 {
  position:absolute;
  left:78px;
  top:31px;
  width:200px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12173 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u12174 {
  position:absolute;
  left:307px;
  top:29px;
  width:26px;
  height:26px;
}
#u12175 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u12176 {
  position:absolute;
  left:94px;
  top:106px;
  width:38px;
  height:25px;
}
#u12177 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12179 {
  position:absolute;
  left:60px;
  top:157px;
  width:42px;
  height:16px;
}
#u12180 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u12181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u12181 {
  position:absolute;
  left:20px;
  top:140px;
  width:40px;
  height:30px;
}
#u12182 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12183 {
  position:absolute;
  left:61px;
  top:141px;
  width:62px;
  height:16px;
}
#u12184 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u12185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12186 {
  position:absolute;
  left:172px;
  top:155px;
  width:65px;
  height:16px;
}
#u12187 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u12188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u12188 {
  position:absolute;
  left:134px;
  top:139px;
  width:40px;
  height:30px;
}
#u12189 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12190 {
  position:absolute;
  left:174px;
  top:140px;
  width:39px;
  height:16px;
}
#u12191 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u12192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12193 {
  position:absolute;
  left:276px;
  top:155px;
  width:60px;
  height:16px;
}
#u12194 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u12195 {
  position:absolute;
  left:236px;
  top:140px;
  width:40px;
  height:30px;
}
#u12196 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12197 {
  position:absolute;
  left:275px;
  top:139px;
  width:60px;
  height:16px;
}
#u12198 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12199 {
  position:absolute;
  left:95px;
  top:79px;
  width:55px;
  height:24px;
  font-size:20px;
}
#u12200 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u12201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12201 {
  position:absolute;
  left:166px;
  top:80px;
  width:158px;
  height:19px;
}
#u12202 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u12203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12203 {
  position:absolute;
  left:35px;
  top:71px;
  width:60px;
  height:60px;
}
#u12204 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12205 {
  position:absolute;
  left:180px;
  top:107px;
  width:104px;
  height:16px;
}
#u12206 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u12207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12207 {
  position:absolute;
  left:26px;
  top:192px;
  width:304px;
  height:16px;
  text-align:center;
}
#u12208 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u12209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:370px;
}
#u12209 {
  position:absolute;
  left:20px;
  top:220px;
  width:320px;
  height:370px;
}
#u12210 {
  position:absolute;
  left:2px;
  top:177px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u12211 {
  position:absolute;
  left:41px;
  top:228px;
  width:44px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u12212 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u12213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u12213 {
  position:absolute;
  left:130px;
  top:228px;
  width:44px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u12214 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u12215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u12215 {
  position:absolute;
  left:224px;
  top:228px;
  width:31px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u12216 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u12217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12217 {
  position:absolute;
  left:36px;
  top:247px;
  width:296px;
  height:1px;
}
#u12218 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u12219 {
  position:absolute;
  left:289px;
  top:228px;
  width:31px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u12220 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u12221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12221 {
  position:absolute;
  left:24px;
  top:252px;
  width:74px;
  height:32px;
  text-align:center;
}
#u12222 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u12223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12223 {
  position:absolute;
  left:121px;
  top:260px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12224 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12225 {
  position:absolute;
  left:199px;
  top:252px;
  width:80px;
  height:32px;
  text-align:center;
}
#u12226 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C21C02;
  text-align:center;
}
#u12227 {
  position:absolute;
  left:292px;
  top:260px;
  width:28px;
  height:16px;
  color:#C21C02;
  text-align:center;
}
#u12228 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u12229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12229 {
  position:absolute;
  left:36px;
  top:289px;
  width:296px;
  height:1px;
}
#u12230 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12231 {
  position:absolute;
  left:24px;
  top:294px;
  width:74px;
  height:32px;
  text-align:center;
}
#u12232 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u12233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12233 {
  position:absolute;
  left:121px;
  top:302px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12234 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12235 {
  position:absolute;
  left:199px;
  top:294px;
  width:80px;
  height:32px;
  text-align:center;
}
#u12236 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C21C02;
  text-align:center;
}
#u12237 {
  position:absolute;
  left:292px;
  top:302px;
  width:28px;
  height:16px;
  color:#C21C02;
  text-align:center;
}
#u12238 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u12239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12239 {
  position:absolute;
  left:36px;
  top:333px;
  width:296px;
  height:1px;
}
#u12240 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12241 {
  position:absolute;
  left:24px;
  top:338px;
  width:74px;
  height:32px;
  text-align:center;
}
#u12242 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u12243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12243 {
  position:absolute;
  left:121px;
  top:346px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12244 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12245 {
  position:absolute;
  left:199px;
  top:338px;
  width:80px;
  height:32px;
  text-align:center;
}
#u12246 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
  text-align:center;
}
#u12247 {
  position:absolute;
  left:292px;
  top:346px;
  width:28px;
  height:16px;
  color:#008000;
  text-align:center;
}
#u12248 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u12249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12249 {
  position:absolute;
  left:36px;
  top:375px;
  width:296px;
  height:1px;
}
#u12250 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12251 {
  position:absolute;
  left:24px;
  top:380px;
  width:74px;
  height:32px;
  text-align:center;
}
#u12252 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u12253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12253 {
  position:absolute;
  left:121px;
  top:388px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12254 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12255 {
  position:absolute;
  left:199px;
  top:380px;
  width:80px;
  height:32px;
  text-align:center;
}
#u12256 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
  text-align:center;
}
#u12257 {
  position:absolute;
  left:292px;
  top:388px;
  width:28px;
  height:16px;
  color:#008000;
  text-align:center;
}
#u12258 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u12259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12259 {
  position:absolute;
  left:36px;
  top:417px;
  width:296px;
  height:1px;
}
#u12260 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12261 {
  position:absolute;
  left:24px;
  top:422px;
  width:74px;
  height:32px;
  text-align:center;
}
#u12262 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u12263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12263 {
  position:absolute;
  left:121px;
  top:430px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12264 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12265 {
  position:absolute;
  left:199px;
  top:422px;
  width:80px;
  height:32px;
  text-align:center;
}
#u12266 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C21C02;
  text-align:center;
}
#u12267 {
  position:absolute;
  left:292px;
  top:430px;
  width:28px;
  height:16px;
  color:#C21C02;
  text-align:center;
}
#u12268 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u12269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12269 {
  position:absolute;
  left:36px;
  top:459px;
  width:296px;
  height:1px;
}
#u12270 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12271 {
  position:absolute;
  left:24px;
  top:464px;
  width:74px;
  height:32px;
  text-align:center;
}
#u12272 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u12273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12273 {
  position:absolute;
  left:121px;
  top:472px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12274 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12275 {
  position:absolute;
  left:199px;
  top:464px;
  width:80px;
  height:32px;
  text-align:center;
}
#u12276 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
  text-align:center;
}
#u12277 {
  position:absolute;
  left:292px;
  top:472px;
  width:28px;
  height:16px;
  color:#008000;
  text-align:center;
}
#u12278 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u12279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12279 {
  position:absolute;
  left:36px;
  top:501px;
  width:296px;
  height:1px;
}
#u12280 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12281 {
  position:absolute;
  left:24px;
  top:506px;
  width:74px;
  height:32px;
  text-align:center;
}
#u12282 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u12283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12283 {
  position:absolute;
  left:121px;
  top:514px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12284 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12285 {
  position:absolute;
  left:199px;
  top:506px;
  width:80px;
  height:32px;
  text-align:center;
}
#u12286 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
  text-align:center;
}
#u12287 {
  position:absolute;
  left:292px;
  top:514px;
  width:28px;
  height:16px;
  color:#008000;
  text-align:center;
}
#u12288 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u12289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12289 {
  position:absolute;
  left:36px;
  top:543px;
  width:296px;
  height:1px;
}
#u12290 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12291 {
  position:absolute;
  left:24px;
  top:548px;
  width:74px;
  height:32px;
  text-align:center;
}
#u12292 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u12293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12293 {
  position:absolute;
  left:121px;
  top:556px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12294 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12295 {
  position:absolute;
  left:199px;
  top:548px;
  width:80px;
  height:32px;
  text-align:center;
}
#u12296 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C21C02;
  text-align:center;
}
#u12297 {
  position:absolute;
  left:292px;
  top:556px;
  width:28px;
  height:16px;
  color:#C21C02;
  text-align:center;
}
#u12298 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u12299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12299 {
  position:absolute;
  left:371px;
  top:254px;
  width:46px;
  height:61px;
  color:#FF0000;
}
#u12300 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u12301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u12301 {
  position:absolute;
  left:330px;
  top:267px;
  width:31px;
  height:1px;
}
#u12302 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12303 {
  position:absolute;
  left:378px;
  top:342px;
  width:46px;
  height:61px;
  color:#FF0000;
}
#u12304 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u12305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u12305 {
  position:absolute;
  left:327px;
  top:355px;
  width:41px;
  height:1px;
}
#u12306 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
