body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12831 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:568px;
}
#u12832 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12833 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12834 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u12835 {
  position:absolute;
  left:25px;
  top:29px;
  width:26px;
  height:26px;
}
#u12836 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12837 {
  position:absolute;
  left:78px;
  top:31px;
  width:200px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12838 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:271px;
}
#u12840 {
  position:absolute;
  left:20px;
  top:62px;
  width:320px;
  height:271px;
}
#u12841 {
  position:absolute;
  left:2px;
  top:128px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12843 {
  position:absolute;
  left:32px;
  top:149px;
  width:296px;
  height:1px;
}
#u12844 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12845 {
  position:absolute;
  left:49px;
  top:86px;
  width:40px;
  height:40px;
}
#u12846 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12847 {
  position:absolute;
  left:266px;
  top:85px;
  width:40px;
  height:40px;
}
#u12848 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12849 {
  position:absolute;
  left:155px;
  top:97px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u12850 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u12851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12851 {
  position:absolute;
  left:44px;
  top:124px;
  width:51px;
  height:16px;
  text-align:center;
}
#u12852 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u12853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12853 {
  position:absolute;
  left:256px;
  top:126px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12854 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u12855 {
  position:absolute;
  left:49px;
  top:69px;
  width:239px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u12856 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u12857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12857 {
  position:absolute;
  left:138px;
  top:121px;
  width:72px;
  height:21px;
}
#u12858 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u12859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12860 {
  position:absolute;
  left:32px;
  top:237px;
  width:296px;
  height:1px;
}
#u12861 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12862 {
  position:absolute;
  left:49px;
  top:174px;
  width:40px;
  height:40px;
}
#u12863 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12864 {
  position:absolute;
  left:266px;
  top:173px;
  width:40px;
  height:40px;
}
#u12865 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12866 {
  position:absolute;
  left:155px;
  top:185px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u12867 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u12868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12868 {
  position:absolute;
  left:44px;
  top:212px;
  width:51px;
  height:16px;
  text-align:center;
}
#u12869 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u12870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12870 {
  position:absolute;
  left:256px;
  top:214px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12871 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u12872 {
  position:absolute;
  left:88px;
  top:157px;
  width:200px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u12873 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12874 {
  position:absolute;
  left:138px;
  top:209px;
  width:72px;
  height:21px;
}
#u12875 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u12876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12877 {
  position:absolute;
  left:49px;
  top:262px;
  width:40px;
  height:40px;
}
#u12878 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12879 {
  position:absolute;
  left:266px;
  top:261px;
  width:40px;
  height:40px;
}
#u12880 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12881 {
  position:absolute;
  left:155px;
  top:273px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u12882 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u12883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12883 {
  position:absolute;
  left:44px;
  top:300px;
  width:51px;
  height:16px;
  text-align:center;
}
#u12884 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u12885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12885 {
  position:absolute;
  left:256px;
  top:302px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12886 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12887 {
  position:absolute;
  left:49px;
  top:245px;
  width:257px;
  height:16px;
  color:#999999;
}
#u12888 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u12889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12889 {
  position:absolute;
  left:138px;
  top:297px;
  width:72px;
  height:21px;
}
#u12890 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u12891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:271px;
}
#u12892 {
  position:absolute;
  left:20px;
  top:333px;
  width:320px;
  height:271px;
}
#u12893 {
  position:absolute;
  left:2px;
  top:128px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12895 {
  position:absolute;
  left:32px;
  top:420px;
  width:296px;
  height:1px;
}
#u12896 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12897 {
  position:absolute;
  left:49px;
  top:357px;
  width:40px;
  height:40px;
}
#u12898 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12899 {
  position:absolute;
  left:266px;
  top:356px;
  width:40px;
  height:40px;
}
#u12900 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12901 {
  position:absolute;
  left:155px;
  top:368px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u12902 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u12903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12903 {
  position:absolute;
  left:44px;
  top:395px;
  width:51px;
  height:16px;
  text-align:center;
}
#u12904 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u12905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12905 {
  position:absolute;
  left:256px;
  top:397px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12906 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12907 {
  position:absolute;
  left:49px;
  top:340px;
  width:239px;
  height:16px;
  color:#999999;
}
#u12908 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u12909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12909 {
  position:absolute;
  left:138px;
  top:392px;
  width:72px;
  height:21px;
}
#u12910 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u12911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12912 {
  position:absolute;
  left:32px;
  top:508px;
  width:296px;
  height:1px;
}
#u12913 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12914 {
  position:absolute;
  left:49px;
  top:445px;
  width:40px;
  height:40px;
}
#u12915 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12916 {
  position:absolute;
  left:266px;
  top:444px;
  width:40px;
  height:40px;
}
#u12917 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12918 {
  position:absolute;
  left:155px;
  top:456px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u12919 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u12920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12920 {
  position:absolute;
  left:44px;
  top:483px;
  width:51px;
  height:16px;
  text-align:center;
}
#u12921 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u12922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12922 {
  position:absolute;
  left:256px;
  top:485px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12923 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u12924 {
  position:absolute;
  left:88px;
  top:428px;
  width:200px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u12925 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12926 {
  position:absolute;
  left:138px;
  top:480px;
  width:72px;
  height:21px;
}
#u12927 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u12928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12929 {
  position:absolute;
  left:49px;
  top:533px;
  width:40px;
  height:40px;
}
#u12930 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12931 {
  position:absolute;
  left:266px;
  top:532px;
  width:40px;
  height:40px;
}
#u12932 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12933 {
  position:absolute;
  left:155px;
  top:544px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u12934 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u12935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12935 {
  position:absolute;
  left:44px;
  top:571px;
  width:51px;
  height:16px;
  text-align:center;
}
#u12936 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u12937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12937 {
  position:absolute;
  left:256px;
  top:573px;
  width:61px;
  height:16px;
  text-align:center;
}
#u12938 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12939 {
  position:absolute;
  left:88px;
  top:516px;
  width:200px;
  height:16px;
  color:#999999;
}
#u12940 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12941 {
  position:absolute;
  left:138px;
  top:568px;
  width:72px;
  height:21px;
}
#u12942 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u12943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12943 {
  position:absolute;
  left:360px;
  top:97px;
  width:60px;
  height:48px;
  color:#FF0000;
}
#u12944 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u12945 {
  position:absolute;
  left:327px;
  top:109px;
  width:26px;
  height:1px;
}
#u12946 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:361px;
}
#u12947 {
  position:absolute;
  left:20px;
  top:64px;
  width:320px;
  height:361px;
}
#u12948 {
  position:absolute;
  left:2px;
  top:172px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12949 {
  position:absolute;
  left:360px;
  top:480px;
  width:60px;
  height:64px;
}
#u12950 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:2px;
}
#u12951 {
  position:absolute;
  left:200px;
  top:492px;
  width:153px;
  height:1px;
}
#u12952 {
  position:absolute;
  left:2px;
  top:-8px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
