body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:336px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:16px;
  top:15px;
  width:320px;
  height:695px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:695px;
}
#u1 {
  position:absolute;
  left:2px;
  top:340px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:16px;
  top:15px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:305px;
  top:25px;
  width:20px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:251px;
  top:440px;
  width:60px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:146px;
  top:440px;
  width:60px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:251px;
  top:200px;
  width:60px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:41px;
  top:557px;
  width:60px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:146px;
  top:557px;
  width:60px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:41px;
  top:440px;
  width:60px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:146px;
  top:200px;
  width:60px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:41px;
  top:200px;
  width:60px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:251px;
  top:510px;
  width:60px;
  height:16px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:251px;
  top:270px;
  width:60px;
  height:16px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:41px;
  top:270px;
  width:60px;
  height:16px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:146px;
  top:270px;
  width:60px;
  height:16px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:41px;
  top:510px;
  width:60px;
  height:16px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:146px;
  top:626px;
  width:60px;
  height:16px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:41px;
  top:627px;
  width:60px;
  height:16px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:146px;
  top:510px;
  width:60px;
  height:16px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:41px;
  top:318px;
  width:60px;
  height:60px;
  color:#1E1E1E;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:41px;
  top:388px;
  width:60px;
  height:16px;
  color:#1E1E1E;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:146px;
  top:318px;
  width:60px;
  height:60px;
  color:#1E1E1E;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:146px;
  top:388px;
  width:60px;
  height:16px;
  color:#1E1E1E;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:144px;
  top:710px;
  width:64px;
  height:48px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:48px;
}
#u47 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:16px;
  top:710px;
  width:64px;
  height:48px;
  color:#000000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:48px;
}
#u49 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:80px;
  top:710px;
  width:64px;
  height:48px;
  color:#000000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:48px;
}
#u51 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:208px;
  top:710px;
  width:64px;
  height:48px;
  color:#000000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:48px;
}
#u53 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:272px;
  top:710px;
  width:64px;
  height:48px;
  color:#000000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:48px;
}
#u55 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:251px;
  top:318px;
  width:60px;
  height:60px;
  color:#1E1E1E;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u57 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:251px;
  top:388px;
  width:60px;
  height:16px;
  color:#1E1E1E;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:251px;
  top:556px;
  width:60px;
  height:60px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u61 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:251px;
  top:626px;
  width:60px;
  height:16px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:41px;
  top:80px;
  width:60px;
  height:60px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u65 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:41px;
  top:150px;
  width:60px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:146px;
  top:80px;
  width:60px;
  height:60px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u69 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:146px;
  top:150px;
  width:60px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
