body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:220px;
  width:320px;
  height:370px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:370px;
}
#u3 {
  position:absolute;
  left:2px;
  top:177px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:62px;
  width:320px;
  height:120px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u5 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:32px;
  top:71px;
  width:60px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:32px;
  top:71px;
  width:60px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:78px;
  top:31px;
  width:200px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:307px;
  top:29px;
  width:26px;
  height:26px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:26px;
  top:192px;
  width:304px;
  height:16px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:94px;
  top:106px;
  width:38px;
  height:25px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:60px;
  top:157px;
  width:42px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:172px;
  top:155px;
  width:65px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:276px;
  top:155px;
  width:60px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:140px;
  width:40px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:134px;
  top:139px;
  width:40px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:236px;
  top:140px;
  width:40px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:61px;
  top:141px;
  width:62px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:174px;
  top:140px;
  width:39px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:275px;
  top:139px;
  width:60px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:95px;
  top:79px;
  width:55px;
  height:24px;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:166px;
  top:88px;
  width:158px;
  height:33px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:33px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:20px;
  top:219px;
  width:320px;
  height:271px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:271px;
}
#u43 {
  position:absolute;
  left:2px;
  top:128px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:32px;
  top:301px;
  width:296px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u45 {
  position:absolute;
  left:49px;
  top:243px;
  width:40px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:266px;
  top:242px;
  width:40px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:155px;
  top:254px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:44px;
  top:281px;
  width:51px;
  height:16px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:256px;
  top:283px;
  width:61px;
  height:16px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:88px;
  top:226px;
  width:200px;
  height:16px;
  color:#999999;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:138px;
  top:278px;
  width:72px;
  height:21px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:32px;
  top:389px;
  width:296px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u60 {
  position:absolute;
  left:49px;
  top:331px;
  width:40px;
  height:40px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:266px;
  top:330px;
  width:40px;
  height:40px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:155px;
  top:342px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:44px;
  top:369px;
  width:51px;
  height:16px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:256px;
  top:371px;
  width:61px;
  height:16px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:88px;
  top:314px;
  width:200px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:138px;
  top:366px;
  width:72px;
  height:21px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:32px;
  top:476px;
  width:296px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u75 {
  position:absolute;
  left:49px;
  top:418px;
  width:40px;
  height:40px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:266px;
  top:416px;
  width:40px;
  height:40px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:155px;
  top:428px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:44px;
  top:456px;
  width:51px;
  height:16px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:256px;
  top:458px;
  width:61px;
  height:16px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:88px;
  top:400px;
  width:200px;
  height:16px;
  color:#999999;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:138px;
  top:452px;
  width:72px;
  height:21px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:49px;
  top:506px;
  width:40px;
  height:40px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u90 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:266px;
  top:504px;
  width:40px;
  height:40px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u92 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:155px;
  top:516px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:44px;
  top:544px;
  width:51px;
  height:16px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:256px;
  top:546px;
  width:61px;
  height:16px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:88px;
  top:488px;
  width:200px;
  height:16px;
  color:#999999;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:138px;
  top:540px;
  width:72px;
  height:21px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:25px;
  top:29px;
  width:26px;
  height:26px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u104 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
