body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:330px;
}
#u12906 {
  position:absolute;
  left:79px;
  top:80px;
  width:391px;
  height:330px;
}
#u12907 {
  position:absolute;
  left:2px;
  top:157px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12908 {
  position:absolute;
  left:460px;
  top:120px;
  width:400px;
  height:280px;
}
#u12909 {
  position:absolute;
  left:2px;
  top:132px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12910 {
  position:absolute;
  left:480px;
  top:134px;
  width:100px;
  height:16px;
}
#u12911 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u12912 {
  position:absolute;
  left:480px;
  top:168px;
  width:90px;
  height:22px;
}
#u12912_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12912_input:disabled {
  color:grayText;
}
#u12913 {
  position:absolute;
  left:590px;
  top:168px;
  width:90px;
  height:22px;
}
#u12913_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12913_input:disabled {
  color:grayText;
}
#u12914 {
  position:absolute;
  left:175px;
  top:267px;
  width:256px;
  height:22px;
}
#u12914_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12914_input:disabled {
  color:grayText;
}
#u12915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12915 {
  position:absolute;
  left:180px;
  top:304px;
  width:60px;
  height:16px;
}
#u12916 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:217px;
}
#u12917 {
  position:absolute;
  left:465px;
  top:134px;
  width:1px;
  height:216px;
}
#u12918 {
  position:absolute;
  left:2px;
  top:100px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12919 {
  position:absolute;
  left:480px;
  top:218px;
  width:90px;
  height:22px;
}
#u12919_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12919_input:disabled {
  color:grayText;
}
#u12920 {
  position:absolute;
  left:480px;
  top:264px;
  width:200px;
  height:25px;
}
#u12920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12921 {
  position:absolute;
  left:580px;
  top:221px;
  width:100px;
  height:32px;
}
#u12922 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
