body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1112px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12273 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:1112px;
}
#u12274 {
  position:absolute;
  left:2px;
  top:548px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u12275 {
  position:absolute;
  left:20px;
  top:62px;
  width:320px;
  height:120px;
}
#u12276 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12277 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12278 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u12279 {
  position:absolute;
  left:25px;
  top:29px;
  width:26px;
  height:26px;
}
#u12280 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12281 {
  position:absolute;
  left:78px;
  top:31px;
  width:200px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12282 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u12283 {
  position:absolute;
  left:307px;
  top:29px;
  width:26px;
  height:26px;
}
#u12284 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u12285 {
  position:absolute;
  left:94px;
  top:106px;
  width:38px;
  height:25px;
}
#u12286 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12288 {
  position:absolute;
  left:60px;
  top:157px;
  width:42px;
  height:16px;
}
#u12289 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u12290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u12290 {
  position:absolute;
  left:20px;
  top:140px;
  width:40px;
  height:30px;
}
#u12291 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12292 {
  position:absolute;
  left:61px;
  top:141px;
  width:62px;
  height:16px;
}
#u12293 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u12294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12295 {
  position:absolute;
  left:172px;
  top:155px;
  width:65px;
  height:16px;
}
#u12296 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u12297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u12297 {
  position:absolute;
  left:134px;
  top:139px;
  width:40px;
  height:30px;
}
#u12298 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12299 {
  position:absolute;
  left:174px;
  top:140px;
  width:39px;
  height:16px;
}
#u12300 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u12301 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12302 {
  position:absolute;
  left:276px;
  top:155px;
  width:60px;
  height:16px;
}
#u12303 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u12304 {
  position:absolute;
  left:236px;
  top:140px;
  width:40px;
  height:30px;
}
#u12305 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12306 {
  position:absolute;
  left:275px;
  top:139px;
  width:60px;
  height:16px;
}
#u12307 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12308 {
  position:absolute;
  left:95px;
  top:79px;
  width:55px;
  height:24px;
  font-size:20px;
}
#u12309 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u12310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12310 {
  position:absolute;
  left:166px;
  top:80px;
  width:158px;
  height:19px;
}
#u12311 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u12312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12312 {
  position:absolute;
  left:35px;
  top:71px;
  width:60px;
  height:60px;
}
#u12313 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12314 {
  position:absolute;
  left:180px;
  top:107px;
  width:104px;
  height:16px;
}
#u12315 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u12316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:470px;
}
#u12316 {
  position:absolute;
  left:20px;
  top:220px;
  width:320px;
  height:470px;
}
#u12317 {
  position:absolute;
  left:2px;
  top:227px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12318 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:210px;
}
#u12319 {
  position:absolute;
  left:63px;
  top:232px;
  width:230px;
  height:210px;
}
#u12320 {
  position:absolute;
  left:2px;
  top:97px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12321 {
  position:absolute;
  left:194px;
  top:243px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12322 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u12323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12323 {
  position:absolute;
  left:249px;
  top:301px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12324 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u12325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12325 {
  position:absolute;
  left:249px;
  top:385px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12326 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u12327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12327 {
  position:absolute;
  left:194px;
  top:409px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12328 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u12329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12329 {
  position:absolute;
  left:81px;
  top:385px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12330 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u12331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12331 {
  position:absolute;
  left:80px;
  top:301px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12332 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u12333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12333 {
  position:absolute;
  left:26px;
  top:192px;
  width:304px;
  height:16px;
  text-align:center;
}
#u12334 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u12335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:181px;
}
#u12335 {
  position:absolute;
  left:20px;
  top:719px;
  width:320px;
  height:181px;
}
#u12336 {
  position:absolute;
  left:2px;
  top:82px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12337 {
  position:absolute;
  left:33px;
  top:472px;
  width:60px;
  height:60px;
}
#u12338 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u12339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12339 {
  position:absolute;
  left:33px;
  top:542px;
  width:60px;
  height:60px;
}
#u12340 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u12341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:60px;
}
#u12341 {
  position:absolute;
  left:27px;
  top:612px;
  width:72px;
  height:60px;
}
#u12342 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u12343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:60px;
}
#u12343 {
  position:absolute;
  left:105px;
  top:612px;
  width:72px;
  height:60px;
}
#u12344 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u12345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:60px;
}
#u12345 {
  position:absolute;
  left:182px;
  top:612px;
  width:72px;
  height:60px;
}
#u12346 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u12347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u12347 {
  position:absolute;
  left:107px;
  top:472px;
  width:70px;
  height:60px;
}
#u12348 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u12349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u12349 {
  position:absolute;
  left:185px;
  top:472px;
  width:70px;
  height:60px;
}
#u12350 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u12351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u12351 {
  position:absolute;
  left:107px;
  top:542px;
  width:70px;
  height:60px;
}
#u12352 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u12353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u12353 {
  position:absolute;
  left:184px;
  top:542px;
  width:70px;
  height:60px;
}
#u12354 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u12355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u12355 {
  position:absolute;
  left:262px;
  top:542px;
  width:70px;
  height:60px;
}
#u12356 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u12357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:60px;
}
#u12357 {
  position:absolute;
  left:260px;
  top:612px;
  width:72px;
  height:60px;
}
#u12358 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u12359 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u12360 {
  position:absolute;
  left:20px;
  top:932px;
  width:320px;
  height:202px;
}
#u12361 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12362 {
  position:absolute;
  left:33px;
  top:912px;
  width:60px;
  height:16px;
}
#u12363 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:183px;
}
#u12364 {
  position:absolute;
  left:34px;
  top:940px;
  width:298px;
  height:183px;
}
#u12365 {
  position:absolute;
  left:2px;
  top:84px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u12366 {
  position:absolute;
  left:201px;
  top:902px;
  width:68px;
  height:30px;
}
#u12367 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u12368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u12368 {
  position:absolute;
  left:269px;
  top:902px;
  width:68px;
  height:30px;
  color:#FFFFFF;
}
#u12369 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u12370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12370 {
  position:absolute;
  left:27px;
  top:700px;
  width:60px;
  height:16px;
}
#u12371 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12372 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12373 {
  position:absolute;
  left:89px;
  top:730px;
  width:60px;
  height:60px;
  font-size:12px;
}
#u12374 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u12375 {
  position:absolute;
  left:97px;
  top:788px;
  width:47px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u12376 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u12377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12377 {
  position:absolute;
  left:75px;
  top:745px;
  width:89px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12378 {
  position:absolute;
  left:2px;
  top:3px;
  width:85px;
  word-wrap:break-word;
}
#u12379 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12380 {
  position:absolute;
  left:40px;
  top:815px;
  width:60px;
  height:60px;
  font-size:12px;
}
#u12381 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u12382 {
  position:absolute;
  left:48px;
  top:873px;
  width:47px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u12383 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u12384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12384 {
  position:absolute;
  left:26px;
  top:830px;
  width:89px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12385 {
  position:absolute;
  left:2px;
  top:3px;
  width:85px;
  word-wrap:break-word;
}
#u12386 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12387 {
  position:absolute;
  left:139px;
  top:815px;
  width:60px;
  height:60px;
  font-size:12px;
}
#u12388 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u12389 {
  position:absolute;
  left:147px;
  top:873px;
  width:47px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u12390 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u12391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12391 {
  position:absolute;
  left:119px;
  top:830px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12392 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u12393 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12394 {
  position:absolute;
  left:249px;
  top:815px;
  width:60px;
  height:60px;
  font-size:12px;
}
#u12395 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u12396 {
  position:absolute;
  left:257px;
  top:873px;
  width:47px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u12397 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u12398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12398 {
  position:absolute;
  left:235px;
  top:830px;
  width:89px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12399 {
  position:absolute;
  left:2px;
  top:3px;
  width:85px;
  word-wrap:break-word;
}
#u12400 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12401 {
  position:absolute;
  left:196px;
  top:730px;
  width:60px;
  height:60px;
  font-size:12px;
}
#u12402 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u12403 {
  position:absolute;
  left:204px;
  top:788px;
  width:47px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u12404 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u12405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12405 {
  position:absolute;
  left:182px;
  top:745px;
  width:89px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12406 {
  position:absolute;
  left:2px;
  top:3px;
  width:85px;
  word-wrap:break-word;
}
#u12407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12407 {
  position:absolute;
  left:351px;
  top:741px;
  width:29px;
  height:61px;
  color:#FF0000;
}
#u12408 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u12409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u12409 {
  position:absolute;
  left:300px;
  top:754px;
  width:41px;
  height:1px;
}
#u12410 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
