body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:621px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10613 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:718px;
}
#u10614 {
  position:absolute;
  left:2px;
  top:351px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:147px;
}
#u10615 {
  position:absolute;
  left:29px;
  top:101px;
  width:305px;
  height:147px;
}
#u10616 {
  position:absolute;
  left:2px;
  top:66px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10617 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10618 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10619 {
  position:absolute;
  left:44px;
  top:34px;
  width:40px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10620 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u10621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10621 {
  position:absolute;
  left:119px;
  top:34px;
  width:40px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10622 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u10623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10623 {
  position:absolute;
  left:185px;
  top:34px;
  width:40px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10624 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u10625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10625 {
  position:absolute;
  left:310px;
  top:30px;
  width:24px;
  height:24px;
}
#u10626 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10627_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:5px;
}
#u10627 {
  position:absolute;
  left:108px;
  top:59px;
  width:50px;
  height:2px;
}
#u10628 {
  position:absolute;
  left:2px;
  top:-7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10629 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:44px;
}
#u10630 {
  position:absolute;
  left:26px;
  top:206px;
  width:308px;
  height:44px;
  color:#FFFFFF;
}
#u10631 {
  position:absolute;
  left:2px;
  top:6px;
  width:304px;
  word-wrap:break-word;
}
#u10632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
}
#u10632 {
  position:absolute;
  left:281px;
  top:101px;
  width:54px;
  height:22px;
  color:#FFFFFF;
}
#u10633 {
  position:absolute;
  left:2px;
  top:3px;
  width:50px;
  word-wrap:break-word;
}
#u10634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10634 {
  position:absolute;
  left:368px;
  top:54px;
  width:60px;
  height:36px;
  color:#FF0000;
}
#u10635 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u10636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u10636 {
  position:absolute;
  left:340px;
  top:76px;
  width:20px;
  height:1px;
}
#u10637 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10638 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:148px;
}
#u10639 {
  position:absolute;
  left:26px;
  top:258px;
  width:308px;
  height:148px;
}
#u10640 {
  position:absolute;
  left:2px;
  top:66px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:44px;
}
#u10641 {
  position:absolute;
  left:26px;
  top:362px;
  width:308px;
  height:44px;
  color:#FFFFFF;
}
#u10642 {
  position:absolute;
  left:2px;
  top:6px;
  width:304px;
  word-wrap:break-word;
}
#u10643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
}
#u10643 {
  position:absolute;
  left:281px;
  top:257px;
  width:54px;
  height:22px;
  color:#FFFFFF;
}
#u10644 {
  position:absolute;
  left:2px;
  top:3px;
  width:50px;
  word-wrap:break-word;
}
#u10645 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:148px;
}
#u10646 {
  position:absolute;
  left:26px;
  top:413px;
  width:308px;
  height:148px;
}
#u10647 {
  position:absolute;
  left:2px;
  top:66px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:44px;
}
#u10648 {
  position:absolute;
  left:26px;
  top:517px;
  width:308px;
  height:44px;
  color:#FFFFFF;
}
#u10649 {
  position:absolute;
  left:2px;
  top:6px;
  width:304px;
  word-wrap:break-word;
}
#u10650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
}
#u10650 {
  position:absolute;
  left:281px;
  top:412px;
  width:54px;
  height:22px;
  color:#FFFFFF;
}
#u10651 {
  position:absolute;
  left:2px;
  top:3px;
  width:50px;
  word-wrap:break-word;
}
#u10652 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:148px;
}
#u10653 {
  position:absolute;
  left:26px;
  top:569px;
  width:308px;
  height:148px;
}
#u10654 {
  position:absolute;
  left:2px;
  top:66px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:44px;
}
#u10655 {
  position:absolute;
  left:26px;
  top:673px;
  width:308px;
  height:44px;
  color:#FFFFFF;
}
#u10656 {
  position:absolute;
  left:2px;
  top:6px;
  width:304px;
  word-wrap:break-word;
}
#u10657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
}
#u10657 {
  position:absolute;
  left:281px;
  top:568px;
  width:54px;
  height:22px;
  color:#FFFFFF;
}
#u10658 {
  position:absolute;
  left:2px;
  top:3px;
  width:50px;
  word-wrap:break-word;
}
#u10659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10659 {
  position:absolute;
  left:362px;
  top:120px;
  width:78px;
  height:36px;
  color:#FF0000;
}
#u10660 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u10661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u10661 {
  position:absolute;
  left:334px;
  top:142px;
  width:20px;
  height:1px;
}
#u10662 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10663 {
  position:absolute;
  left:362px;
  top:264px;
  width:78px;
  height:36px;
  color:#FF0000;
}
#u10664 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u10665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u10665 {
  position:absolute;
  left:334px;
  top:286px;
  width:20px;
  height:1px;
}
#u10666 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10668 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10669 {
  position:absolute;
  left:20px;
  top:740px;
  width:320px;
  height:40px;
}
#u10670 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10671 {
  position:absolute;
  left:40px;
  top:752px;
  width:31px;
  height:16px;
  color:#FFFFFF;
}
#u10672 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u10673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10673 {
  position:absolute;
  left:104px;
  top:752px;
  width:31px;
  height:16px;
  color:#FFFFFF;
}
#u10674 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u10675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u10675 {
  position:absolute;
  left:168px;
  top:752px;
  width:31px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u10676 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u10677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10677 {
  position:absolute;
  left:233px;
  top:752px;
  width:31px;
  height:16px;
  color:#FFFFFF;
}
#u10678 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u10679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10679 {
  position:absolute;
  left:297px;
  top:752px;
  width:31px;
  height:16px;
  color:#FFFFFF;
}
#u10680 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u10681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u10681 {
  position:absolute;
  left:35px;
  top:74px;
  width:286px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u10682 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u10683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10683 {
  position:absolute;
  left:362px;
  top:326px;
  width:78px;
  height:36px;
  color:#FF0000;
}
#u10684 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u10685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u10685 {
  position:absolute;
  left:334px;
  top:348px;
  width:20px;
  height:1px;
}
#u10686 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10687 {
  position:absolute;
  left:450px;
  top:31px;
  width:171px;
  height:36px;
  color:#FF0000;
}
#u10688 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u10689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:2px;
}
#u10689 {
  position:absolute;
  left:300px;
  top:46px;
  width:140px;
  height:1px;
}
#u10690 {
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u10691 {
  position:absolute;
  left:281px;
  top:31px;
  width:23px;
  height:25px;
}
#u10692 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
