body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7219 {
  position:absolute;
  left:10px;
  top:12px;
  width:320px;
  height:568px;
}
#u7220 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7221 {
  position:absolute;
  left:10px;
  top:12px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7222 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u7223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7223 {
  position:absolute;
  left:20px;
  top:19px;
  width:26px;
  height:26px;
}
#u7224 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7225 {
  position:absolute;
  left:20px;
  top:62px;
  width:300px;
  height:43px;
}
#u7225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u7225_input {
  font-family:'微软雅黑';
}
#u7226 {
  position:absolute;
  left:20px;
  top:112px;
  width:300px;
  height:43px;
}
#u7226_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u7226_input {
  font-family:'微软雅黑';
}
#u7227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(194, 28, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7227 {
  position:absolute;
  left:20px;
  top:393px;
  width:300px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7228 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u7229 {
  position:absolute;
  left:20px;
  top:320px;
  width:70px;
  height:32px;
}
#u7229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u7229_input {
  font-family:'微软雅黑';
}
#u7230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7230 {
  position:absolute;
  left:100px;
  top:320px;
  width:90px;
  height:32px;
  color:#CCCCCC;
}
#u7231 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u7232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7232 {
  position:absolute;
  left:20px;
  top:360px;
  width:110px;
  height:16px;
  color:#666666;
}
#u7233 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u7234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:837px;
}
#u7234 {
  position:absolute;
  left:570px;
  top:12px;
  width:470px;
  height:837px;
}
#u7235 {
  position:absolute;
  left:2px;
  top:410px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:170px;
}
#u7236 {
  position:absolute;
  left:570px;
  top:550px;
  width:470px;
  height:170px;
}
#u7237 {
  position:absolute;
  left:2px;
  top:77px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:57px;
}
#u7238 {
  position:absolute;
  left:575px;
  top:540px;
  width:461px;
  height:57px;
}
#u7239 {
  position:absolute;
  left:2px;
  top:20px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:182px;
}
#u7240 {
  position:absolute;
  left:577px;
  top:600px;
  width:462px;
  height:182px;
}
#u7241 {
  position:absolute;
  left:2px;
  top:83px;
  width:458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u7242 {
  position:absolute;
  left:581px;
  top:551px;
  width:75px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u7243 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u7244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
}
#u7244 {
  position:absolute;
  left:680px;
  top:550px;
  width:181px;
  height:40px;
}
#u7245 {
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7246 {
  position:absolute;
  left:20px;
  top:165px;
  width:300px;
  height:45px;
}
#u7247 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7248 {
  position:absolute;
  left:29px;
  top:178px;
  width:60px;
  height:16px;
}
#u7249 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7250 {
  position:absolute;
  left:92px;
  top:177px;
  width:109px;
  height:19px;
  font-size:16px;
}
#u7251 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u7252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7252 {
  position:absolute;
  left:20px;
  top:215px;
  width:300px;
  height:45px;
}
#u7253 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7254 {
  position:absolute;
  left:29px;
  top:228px;
  width:60px;
  height:16px;
}
#u7255 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7256 {
  position:absolute;
  left:92px;
  top:227px;
  width:109px;
  height:19px;
  font-size:16px;
}
#u7257 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u7258 {
  position:absolute;
  left:20px;
  top:268px;
  width:300px;
  height:43px;
}
#u7258_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u7258_input {
  font-family:'微软雅黑';
}
#u7259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7259 {
  position:absolute;
  left:20px;
  top:438px;
  width:290px;
  height:16px;
  text-align:center;
}
#u7260 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u7261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FF0000;
  text-align:center;
}
#u7261 {
  position:absolute;
  left:20px;
  top:464px;
  width:290px;
  height:16px;
  text-decoration:underline;
  color:#FF0000;
  text-align:center;
}
#u7262 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u7263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u7263 {
  position:absolute;
  left:351px;
  top:454px;
  width:200px;
  height:48px;
  color:#FF0000;
}
#u7264 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:2px;
}
#u7265 {
  position:absolute;
  left:260px;
  top:475px;
  width:81px;
  height:1px;
}
#u7266 {
  position:absolute;
  left:2px;
  top:-8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
