body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7188 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u7189 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7190 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7191 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u7192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7192 {
  position:absolute;
  left:16px;
  top:17px;
  width:26px;
  height:26px;
}
#u7193 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7194 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u7195 {
  position:absolute;
  left:10px;
  top:54px;
  width:320px;
  height:45px;
}
#u7196 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7197 {
  position:absolute;
  left:16px;
  top:68px;
  width:110px;
  height:16px;
}
#u7198 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u7199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u7199 {
  position:absolute;
  left:277px;
  top:64px;
  width:41px;
  height:25px;
}
#u7200 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u7202 {
  position:absolute;
  left:10px;
  top:102px;
  width:320px;
  height:45px;
}
#u7203 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7204 {
  position:absolute;
  left:16px;
  top:116px;
  width:110px;
  height:16px;
}
#u7205 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u7206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u7206 {
  position:absolute;
  left:277px;
  top:112px;
  width:41px;
  height:25px;
}
#u7207 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u7209 {
  position:absolute;
  left:10px;
  top:150px;
  width:320px;
  height:45px;
}
#u7210 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7211 {
  position:absolute;
  left:16px;
  top:164px;
  width:110px;
  height:16px;
}
#u7212 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u7213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u7213 {
  position:absolute;
  left:277px;
  top:160px;
  width:41px;
  height:25px;
}
#u7214 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7215 {
  position:absolute;
  left:355px;
  top:63px;
  width:60px;
  height:16px;
  color:#CC0000;
}
#u7216 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7217 {
  position:absolute;
  left:318px;
  top:73px;
  width:31px;
  height:1px;
}
#u7218 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
