body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7366 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u7367 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7368 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7369 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u7370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7370 {
  position:absolute;
  left:16px;
  top:17px;
  width:26px;
  height:26px;
}
#u7371 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7372 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u7373 {
  position:absolute;
  left:10px;
  top:54px;
  width:320px;
  height:45px;
}
#u7374 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7375 {
  position:absolute;
  left:16px;
  top:68px;
  width:110px;
  height:16px;
}
#u7376 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u7377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u7377 {
  position:absolute;
  left:277px;
  top:64px;
  width:41px;
  height:25px;
}
#u7378 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7379 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u7380 {
  position:absolute;
  left:10px;
  top:102px;
  width:320px;
  height:45px;
}
#u7381 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7382 {
  position:absolute;
  left:16px;
  top:116px;
  width:110px;
  height:16px;
}
#u7383 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u7384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u7384 {
  position:absolute;
  left:277px;
  top:112px;
  width:41px;
  height:25px;
}
#u7385 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7386 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u7387 {
  position:absolute;
  left:10px;
  top:150px;
  width:320px;
  height:45px;
}
#u7388 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7389 {
  position:absolute;
  left:16px;
  top:164px;
  width:110px;
  height:16px;
}
#u7390 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u7391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u7391 {
  position:absolute;
  left:277px;
  top:160px;
  width:41px;
  height:25px;
}
#u7392 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7393 {
  position:absolute;
  left:355px;
  top:63px;
  width:60px;
  height:16px;
  color:#CC0000;
}
#u7394 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7395 {
  position:absolute;
  left:318px;
  top:73px;
  width:31px;
  height:1px;
}
#u7396 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
