body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11955 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:568px;
}
#u11956 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:370px;
}
#u11957 {
  position:absolute;
  left:20px;
  top:220px;
  width:320px;
  height:370px;
}
#u11958 {
  position:absolute;
  left:2px;
  top:177px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u11959 {
  position:absolute;
  left:20px;
  top:62px;
  width:320px;
  height:120px;
}
#u11960 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u11961 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u11962 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11965 {
  position:absolute;
  left:32px;
  top:71px;
  width:60px;
  height:60px;
}
#u11966 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u11967 {
  position:absolute;
  left:32px;
  top:71px;
  width:60px;
  height:60px;
}
#u11968 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u11969 {
  position:absolute;
  left:94px;
  top:106px;
  width:38px;
  height:25px;
}
#u11970 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u11971 {
  position:absolute;
  left:95px;
  top:79px;
  width:55px;
  height:24px;
  font-size:20px;
}
#u11972 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u11973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11973 {
  position:absolute;
  left:78px;
  top:31px;
  width:200px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11974 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u11975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u11975 {
  position:absolute;
  left:307px;
  top:29px;
  width:26px;
  height:26px;
}
#u11976 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u11977 {
  position:absolute;
  left:26px;
  top:192px;
  width:304px;
  height:16px;
  text-align:center;
}
#u11978 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u11979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11980 {
  position:absolute;
  left:60px;
  top:157px;
  width:42px;
  height:16px;
}
#u11981 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u11982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u11982 {
  position:absolute;
  left:20px;
  top:140px;
  width:40px;
  height:30px;
}
#u11983 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11984 {
  position:absolute;
  left:61px;
  top:141px;
  width:62px;
  height:16px;
}
#u11985 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u11986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11987 {
  position:absolute;
  left:172px;
  top:155px;
  width:65px;
  height:16px;
}
#u11988 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u11989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u11989 {
  position:absolute;
  left:134px;
  top:139px;
  width:40px;
  height:30px;
}
#u11990 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11991 {
  position:absolute;
  left:174px;
  top:140px;
  width:39px;
  height:16px;
}
#u11992 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u11993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11994 {
  position:absolute;
  left:276px;
  top:155px;
  width:60px;
  height:16px;
}
#u11995 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u11996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u11996 {
  position:absolute;
  left:236px;
  top:140px;
  width:40px;
  height:30px;
}
#u11997 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11998 {
  position:absolute;
  left:275px;
  top:139px;
  width:60px;
  height:16px;
}
#u11999 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12000 {
  position:absolute;
  left:166px;
  top:88px;
  width:158px;
  height:33px;
}
#u12001 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u12002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12002 {
  position:absolute;
  left:52px;
  top:227px;
  width:44px;
  height:16px;
  color:#999999;
}
#u12003 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u12004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12004 {
  position:absolute;
  left:31px;
  top:246px;
  width:296px;
  height:1px;
}
#u12005 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u12006 {
  position:absolute;
  left:178px;
  top:227px;
  width:59px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u12007 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u12008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u12008 {
  position:absolute;
  left:106px;
  top:227px;
  width:62px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u12009 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u12010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12010 {
  position:absolute;
  left:35px;
  top:276px;
  width:71px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u12011 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12012 {
  position:absolute;
  left:31px;
  top:294px;
  width:296px;
  height:1px;
}
#u12013 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u12014 {
  position:absolute;
  left:49px;
  top:250px;
  width:42px;
  height:25px;
}
#u12015 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12016 {
  position:absolute;
  left:115px;
  top:253px;
  width:48px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u12017 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u12018 {
  position:absolute;
  left:257px;
  top:262px;
  width:58px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u12019 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u12020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12020 {
  position:absolute;
  left:184px;
  top:253px;
  width:48px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u12021 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12022 {
  position:absolute;
  left:35px;
  top:325px;
  width:71px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u12023 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12024 {
  position:absolute;
  left:31px;
  top:343px;
  width:296px;
  height:1px;
}
#u12025 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u12026 {
  position:absolute;
  left:49px;
  top:299px;
  width:42px;
  height:25px;
}
#u12027 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12028 {
  position:absolute;
  left:115px;
  top:302px;
  width:48px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u12029 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u12030 {
  position:absolute;
  left:247px;
  top:311px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u12031 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12032 {
  position:absolute;
  left:184px;
  top:302px;
  width:48px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u12033 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12034 {
  position:absolute;
  left:35px;
  top:374px;
  width:71px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u12035 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12036 {
  position:absolute;
  left:31px;
  top:392px;
  width:296px;
  height:1px;
}
#u12037 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u12038 {
  position:absolute;
  left:49px;
  top:348px;
  width:42px;
  height:25px;
}
#u12039 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12040 {
  position:absolute;
  left:115px;
  top:351px;
  width:48px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u12041 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u12042 {
  position:absolute;
  left:247px;
  top:360px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u12043 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12044 {
  position:absolute;
  left:184px;
  top:351px;
  width:48px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u12045 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12046 {
  position:absolute;
  left:35px;
  top:423px;
  width:71px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u12047 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12048 {
  position:absolute;
  left:31px;
  top:441px;
  width:296px;
  height:1px;
}
#u12049 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u12050 {
  position:absolute;
  left:49px;
  top:397px;
  width:42px;
  height:25px;
}
#u12051 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12052 {
  position:absolute;
  left:115px;
  top:400px;
  width:48px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u12053 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u12054 {
  position:absolute;
  left:247px;
  top:410px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u12055 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12056 {
  position:absolute;
  left:184px;
  top:400px;
  width:48px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u12057 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12058 {
  position:absolute;
  left:35px;
  top:472px;
  width:71px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u12059 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12060 {
  position:absolute;
  left:31px;
  top:490px;
  width:296px;
  height:1px;
}
#u12061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u12062 {
  position:absolute;
  left:49px;
  top:446px;
  width:42px;
  height:25px;
}
#u12063 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12064 {
  position:absolute;
  left:115px;
  top:449px;
  width:48px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u12065 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u12066 {
  position:absolute;
  left:247px;
  top:459px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u12067 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12068 {
  position:absolute;
  left:184px;
  top:449px;
  width:48px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u12069 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12070 {
  position:absolute;
  left:35px;
  top:521px;
  width:71px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u12071 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u12072 {
  position:absolute;
  left:49px;
  top:495px;
  width:42px;
  height:25px;
}
#u12073 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12074 {
  position:absolute;
  left:115px;
  top:498px;
  width:48px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u12075 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u12076 {
  position:absolute;
  left:247px;
  top:508px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u12077 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u12078 {
  position:absolute;
  left:184px;
  top:498px;
  width:48px;
  height:31px;
  color:#000000;
  text-align:center;
}
#u12079 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u12080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u12080 {
  position:absolute;
  left:245px;
  top:227px;
  width:82px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u12081 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u12082 {
  position:absolute;
  left:25px;
  top:29px;
  width:26px;
  height:26px;
}
#u12083 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12084 {
  position:absolute;
  left:366px;
  top:267px;
  width:46px;
  height:61px;
  color:#FF0000;
}
#u12085 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u12086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u12086 {
  position:absolute;
  left:315px;
  top:280px;
  width:41px;
  height:1px;
}
#u12087 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12088 {
  position:absolute;
  left:368px;
  top:400px;
  width:46px;
  height:61px;
  color:#FF0000;
}
#u12089 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u12090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u12090 {
  position:absolute;
  left:318px;
  top:413px;
  width:41px;
  height:1px;
}
#u12091 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u12093 {
  position:absolute;
  left:278px;
  top:31px;
  width:22px;
  height:24px;
}
#u12094 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12095 {
  position:absolute;
  left:291px;
  top:26px;
  width:15px;
  height:15px;
}
#u12096 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12097 {
  position:absolute;
  left:379px;
  top:23px;
  width:171px;
  height:36px;
  color:#FF0000;
}
#u12098 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u12099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:2px;
}
#u12099 {
  position:absolute;
  left:300px;
  top:46px;
  width:76px;
  height:1px;
}
#u12100 {
  position:absolute;
  left:2px;
  top:-8px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
