body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12885 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:568px;
}
#u12886 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12887 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12888 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u12889 {
  position:absolute;
  left:25px;
  top:29px;
  width:26px;
  height:26px;
}
#u12890 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12891 {
  position:absolute;
  left:78px;
  top:31px;
  width:200px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12892 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:165px;
}
#u12893 {
  position:absolute;
  left:86px;
  top:116px;
  width:188px;
  height:165px;
}
#u12894 {
  position:absolute;
  left:2px;
  top:74px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12895 {
  position:absolute;
  left:110px;
  top:332px;
  width:140px;
  height:40px;
}
#u12896 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12897 {
  position:absolute;
  left:75px;
  top:298px;
  width:225px;
  height:16px;
  color:#666666;
}
#u12898 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u12899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12899 {
  position:absolute;
  left:362px;
  top:331px;
  width:60px;
  height:32px;
  color:#FF0000;
}
#u12900 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u12901 {
  position:absolute;
  left:291px;
  top:350px;
  width:64px;
  height:1px;
}
#u12902 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
