body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9901 {
  position:absolute;
  left:20px;
  top:30px;
  width:320px;
  height:568px;
}
#u9902 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:111px;
}
#u9903 {
  position:absolute;
  left:20px;
  top:70px;
  width:320px;
  height:111px;
}
#u9904 {
  position:absolute;
  left:2px;
  top:48px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9905 {
  position:absolute;
  left:20px;
  top:30px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9906 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u9907 {
  position:absolute;
  left:26px;
  top:37px;
  width:26px;
  height:26px;
}
#u9908 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u9909 {
  position:absolute;
  left:79px;
  top:39px;
  width:200px;
  height:24px;
  color:#FFFFFF;
  text-align:center;
}
#u9910 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u9911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9911 {
  position:absolute;
  left:46px;
  top:107px;
  width:40px;
  height:40px;
}
#u9912 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9913 {
  position:absolute;
  left:268px;
  top:106px;
  width:40px;
  height:40px;
}
#u9914 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9915 {
  position:absolute;
  left:125px;
  top:113px;
  width:110px;
  height:28px;
}
#u9916 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u9917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:center;
}
#u9917 {
  position:absolute;
  left:41px;
  top:147px;
  width:51px;
  height:16px;
  color:#1E1E1E;
  text-align:center;
}
#u9918 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u9919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:center;
}
#u9919 {
  position:absolute;
  left:258px;
  top:147px;
  width:61px;
  height:16px;
  color:#1E1E1E;
  text-align:center;
}
#u9920 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u9921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9921 {
  position:absolute;
  left:80px;
  top:81px;
  width:200px;
  height:16px;
  color:#999999;
}
#u9922 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u9923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9923 {
  position:absolute;
  left:114px;
  top:147px;
  width:133px;
  height:16px;
}
#u9924 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u9925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u9925 {
  position:absolute;
  left:308px;
  top:37px;
  width:26px;
  height:26px;
}
#u9926 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C21C02;
}
#u9927 {
  position:absolute;
  left:160px;
  top:119px;
  width:40px;
  height:15px;
  font-size:12px;
  color:#C21C02;
}
#u9928 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
  background:inherit;
  background-color:rgba(194, 28, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u9930 {
  position:absolute;
  left:287px;
  top:568px;
  width:47px;
  height:28px;
  font-size:10px;
  color:#FFFFFF;
}
#u9931 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u9932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9932 {
  position:absolute;
  left:31px;
  top:568px;
  width:250px;
  height:30px;
}
#u9933 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9934 {
  position:absolute;
  left:35px;
  top:571px;
  width:22px;
  height:22px;
}
#u9935 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9936 {
  position:absolute;
  left:67px;
  top:573px;
  width:83px;
  height:16px;
  color:#666666;
}
#u9937 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u9938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9938 {
  position:absolute;
  left:31px;
  top:448px;
  width:40px;
  height:40px;
  color:#CCCCCC;
}
#u9939 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u9940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C21C02;
}
#u9940 {
  position:absolute;
  left:81px;
  top:448px;
  width:60px;
  height:16px;
  color:#C21C02;
}
#u9941 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9942 {
  position:absolute;
  left:81px;
  top:474px;
  width:90px;
  height:15px;
  font-size:12px;
}
#u9943 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u9944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9944 {
  position:absolute;
  left:81px;
  top:498px;
  width:300px;
  height:16px;
}
#u9945 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u9946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u9946 {
  position:absolute;
  left:31px;
  top:529px;
  width:296px;
  height:1px;
}
#u9947 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9948 {
  position:absolute;
  left:301px;
  top:448px;
  width:20px;
  height:20px;
}
#u9949 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9950 {
  position:absolute;
  left:271px;
  top:450px;
  width:30px;
  height:16px;
  color:#666666;
}
#u9951 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u9952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u9952 {
  position:absolute;
  left:21px;
  top:562px;
  width:320px;
  height:1px;
}
#u9953 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9954 {
  position:absolute;
  left:138px;
  top:537px;
  width:82px;
  height:16px;
  color:#999999;
}
#u9955 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9956 {
  position:absolute;
  left:20px;
  top:428px;
  width:320px;
  height:100px;
}
#u9957 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u9958 {
  position:absolute;
  left:31px;
  top:398px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u9959 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:3px;
  background:inherit;
  background-color:rgba(194, 28, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9960 {
  position:absolute;
  left:31px;
  top:424px;
  width:60px;
  height:3px;
  font-size:12px;
  color:#FFFFFF;
}
#u9961 {
  position:absolute;
  left:2px;
  top:-6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9962 {
  position:absolute;
  left:370px;
  top:119px;
  width:100px;
  height:61px;
  color:#FF0000;
}
#u9963 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u9964 {
  position:absolute;
  left:319px;
  top:157px;
  width:41px;
  height:1px;
}
#u9965 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9966 {
  position:absolute;
  left:368px;
  top:61px;
  width:60px;
  height:36px;
  color:#FF0000;
}
#u9967 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u9968 {
  position:absolute;
  left:319px;
  top:83px;
  width:41px;
  height:1px;
}
#u9969 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9970 {
  position:absolute;
  left:510px;
  top:98px;
  width:60px;
  height:36px;
  color:#FF0000;
}
#u9971 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u9972 {
  position:absolute;
  left:308px;
  top:110px;
  width:192px;
  height:1px;
}
#u9973 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9974 {
  position:absolute;
  left:39px;
  top:190px;
  width:288px;
  height:32px;
}
#u9975 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u9976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u9976 {
  position:absolute;
  left:100px;
  top:248px;
  width:160px;
  height:47px;
  color:#1E1E1E;
}
#u9977 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u9978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9978 {
  position:absolute;
  left:39px;
  top:323px;
  width:288px;
  height:16px;
}
#u9979 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u9980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9980 {
  position:absolute;
  left:359px;
  top:259px;
  width:118px;
  height:61px;
  color:#FF0000;
}
#u9981 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u9982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u9982 {
  position:absolute;
  left:308px;
  top:272px;
  width:41px;
  height:1px;
}
#u9983 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9984 {
  position:absolute;
  left:620px;
  top:152px;
  width:260px;
  height:101px;
  font-size:16px;
}
#u9985 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
#u9986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9986 {
  position:absolute;
  left:620px;
  top:250px;
  width:130px;
  height:47px;
}
#u9987 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u9988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u9988 {
  position:absolute;
  left:750px;
  top:250px;
  width:130px;
  height:47px;
  color:#008000;
}
#u9989 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u9990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9990 {
  position:absolute;
  left:920px;
  top:263px;
  width:100px;
  height:61px;
  color:#FF0000;
}
#u9991 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u9992 {
  position:absolute;
  left:869px;
  top:276px;
  width:41px;
  height:1px;
}
#u9993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
