body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10289 {
  position:absolute;
  left:20px;
  top:30px;
  width:320px;
  height:568px;
}
#u10290 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:111px;
}
#u10291 {
  position:absolute;
  left:20px;
  top:70px;
  width:320px;
  height:111px;
}
#u10292 {
  position:absolute;
  left:2px;
  top:48px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10293 {
  position:absolute;
  left:20px;
  top:30px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10294 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u10295 {
  position:absolute;
  left:26px;
  top:37px;
  width:26px;
  height:26px;
}
#u10296 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u10297 {
  position:absolute;
  left:79px;
  top:39px;
  width:200px;
  height:24px;
  color:#FFFFFF;
  text-align:center;
}
#u10298 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10299 {
  position:absolute;
  left:46px;
  top:107px;
  width:40px;
  height:40px;
}
#u10300 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10301 {
  position:absolute;
  left:268px;
  top:106px;
  width:40px;
  height:40px;
}
#u10302 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10303 {
  position:absolute;
  left:125px;
  top:113px;
  width:110px;
  height:28px;
}
#u10304 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u10305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:center;
}
#u10305 {
  position:absolute;
  left:41px;
  top:147px;
  width:51px;
  height:16px;
  color:#1E1E1E;
  text-align:center;
}
#u10306 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u10307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:center;
}
#u10307 {
  position:absolute;
  left:258px;
  top:147px;
  width:61px;
  height:16px;
  color:#1E1E1E;
  text-align:center;
}
#u10308 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u10309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10309 {
  position:absolute;
  left:80px;
  top:81px;
  width:200px;
  height:16px;
  color:#999999;
}
#u10310 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10311 {
  position:absolute;
  left:114px;
  top:147px;
  width:133px;
  height:16px;
}
#u10312 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u10313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u10313 {
  position:absolute;
  left:308px;
  top:37px;
  width:26px;
  height:26px;
}
#u10314 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C21C02;
}
#u10315 {
  position:absolute;
  left:160px;
  top:119px;
  width:40px;
  height:15px;
  font-size:12px;
  color:#C21C02;
}
#u10316 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u10317 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
  background:inherit;
  background-color:rgba(194, 28, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u10318 {
  position:absolute;
  left:287px;
  top:568px;
  width:47px;
  height:28px;
  font-size:10px;
  color:#FFFFFF;
}
#u10319 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u10320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10320 {
  position:absolute;
  left:31px;
  top:568px;
  width:250px;
  height:30px;
}
#u10321 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10322 {
  position:absolute;
  left:35px;
  top:571px;
  width:22px;
  height:22px;
}
#u10323 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10324 {
  position:absolute;
  left:67px;
  top:573px;
  width:83px;
  height:16px;
  color:#666666;
}
#u10325 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u10326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u10326 {
  position:absolute;
  left:31px;
  top:448px;
  width:40px;
  height:40px;
  color:#CCCCCC;
}
#u10327 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u10328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C21C02;
}
#u10328 {
  position:absolute;
  left:81px;
  top:448px;
  width:60px;
  height:16px;
  color:#C21C02;
}
#u10329 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u10330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10330 {
  position:absolute;
  left:81px;
  top:474px;
  width:90px;
  height:15px;
  font-size:12px;
}
#u10331 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u10332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10332 {
  position:absolute;
  left:81px;
  top:498px;
  width:300px;
  height:16px;
}
#u10333 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u10334 {
  position:absolute;
  left:31px;
  top:529px;
  width:296px;
  height:1px;
}
#u10335 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10336 {
  position:absolute;
  left:301px;
  top:448px;
  width:20px;
  height:20px;
}
#u10337 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10338 {
  position:absolute;
  left:271px;
  top:450px;
  width:30px;
  height:16px;
  color:#666666;
}
#u10339 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u10340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u10340 {
  position:absolute;
  left:21px;
  top:562px;
  width:320px;
  height:1px;
}
#u10341 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10342 {
  position:absolute;
  left:138px;
  top:537px;
  width:82px;
  height:16px;
  color:#999999;
}
#u10343 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10344 {
  position:absolute;
  left:20px;
  top:428px;
  width:320px;
  height:100px;
}
#u10345 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u10346 {
  position:absolute;
  left:31px;
  top:398px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u10347 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u10348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:3px;
  background:inherit;
  background-color:rgba(194, 28, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10348 {
  position:absolute;
  left:31px;
  top:424px;
  width:60px;
  height:3px;
  font-size:12px;
  color:#FFFFFF;
}
#u10349 {
  position:absolute;
  left:2px;
  top:-6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10350 {
  position:absolute;
  left:370px;
  top:119px;
  width:100px;
  height:61px;
  color:#FF0000;
}
#u10351 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u10352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u10352 {
  position:absolute;
  left:319px;
  top:157px;
  width:41px;
  height:1px;
}
#u10353 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10354 {
  position:absolute;
  left:368px;
  top:61px;
  width:60px;
  height:36px;
  color:#FF0000;
}
#u10355 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u10356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u10356 {
  position:absolute;
  left:319px;
  top:83px;
  width:41px;
  height:1px;
}
#u10357 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10358 {
  position:absolute;
  left:510px;
  top:98px;
  width:60px;
  height:36px;
  color:#FF0000;
}
#u10359 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u10360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u10360 {
  position:absolute;
  left:308px;
  top:110px;
  width:192px;
  height:1px;
}
#u10361 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10362 {
  position:absolute;
  left:39px;
  top:190px;
  width:288px;
  height:32px;
}
#u10363 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u10364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u10364 {
  position:absolute;
  left:100px;
  top:248px;
  width:160px;
  height:47px;
  color:#1E1E1E;
}
#u10365 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u10366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10366 {
  position:absolute;
  left:39px;
  top:323px;
  width:288px;
  height:16px;
}
#u10367 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u10368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10368 {
  position:absolute;
  left:359px;
  top:259px;
  width:118px;
  height:61px;
  color:#FF0000;
}
#u10369 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u10370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u10370 {
  position:absolute;
  left:308px;
  top:272px;
  width:41px;
  height:1px;
}
#u10371 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10372 {
  position:absolute;
  left:620px;
  top:152px;
  width:260px;
  height:101px;
  font-size:16px;
}
#u10373 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
#u10374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10374 {
  position:absolute;
  left:620px;
  top:250px;
  width:130px;
  height:47px;
}
#u10375 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u10376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u10376 {
  position:absolute;
  left:750px;
  top:250px;
  width:130px;
  height:47px;
  color:#008000;
}
#u10377 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u10378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10378 {
  position:absolute;
  left:920px;
  top:263px;
  width:100px;
  height:61px;
  color:#FF0000;
}
#u10379 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u10380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u10380 {
  position:absolute;
  left:869px;
  top:276px;
  width:41px;
  height:1px;
}
#u10381 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
