body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7094 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u7095 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7096 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7097 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u7098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7098 {
  position:absolute;
  left:16px;
  top:17px;
  width:26px;
  height:26px;
}
#u7099 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7100 {
  position:absolute;
  left:298px;
  top:17px;
  width:24px;
  height:24px;
}
#u7101 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
}
#u7103 {
  position:absolute;
  left:10px;
  top:54px;
  width:320px;
  height:83px;
}
#u7104 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7105 {
  position:absolute;
  left:16px;
  top:74px;
  width:40px;
  height:40px;
  font-size:10px;
}
#u7106 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7107 {
  position:absolute;
  left:66px;
  top:64px;
  width:244px;
  height:48px;
}
#u7108 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u7109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u7109 {
  position:absolute;
  left:204px;
  top:121px;
  width:122px;
  height:13px;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u7110 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u7111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
}
#u7112 {
  position:absolute;
  left:10px;
  top:138px;
  width:320px;
  height:83px;
}
#u7113 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7114 {
  position:absolute;
  left:16px;
  top:159px;
  width:40px;
  height:40px;
  font-size:10px;
}
#u7115 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7116 {
  position:absolute;
  left:66px;
  top:156px;
  width:234px;
  height:40px;
}
#u7117 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u7118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u7118 {
  position:absolute;
  left:204px;
  top:196px;
  width:122px;
  height:13px;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u7119 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u7120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7120 {
  position:absolute;
  left:300px;
  top:151px;
  width:32px;
  height:32px;
  opacity:0.5;
}
#u7121 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
}
#u7123 {
  position:absolute;
  left:10px;
  top:223px;
  width:320px;
  height:83px;
}
#u7124 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7125 {
  position:absolute;
  left:16px;
  top:244px;
  width:40px;
  height:40px;
  font-size:10px;
}
#u7126 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7127 {
  position:absolute;
  left:66px;
  top:233px;
  width:234px;
  height:48px;
}
#u7128 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u7129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u7129 {
  position:absolute;
  left:204px;
  top:287px;
  width:122px;
  height:13px;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u7130 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u7131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7131 {
  position:absolute;
  left:300px;
  top:235px;
  width:32px;
  height:32px;
  opacity:0.5;
}
#u7132 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:83px;
}
#u7134 {
  position:absolute;
  left:10px;
  top:316px;
  width:260px;
  height:83px;
}
#u7135 {
  position:absolute;
  left:2px;
  top:34px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:83px;
}
#u7136 {
  position:absolute;
  left:260px;
  top:316px;
  width:70px;
  height:83px;
  font-size:16px;
  color:#FFFFFF;
}
#u7137 {
  position:absolute;
  left:2px;
  top:32px;
  width:66px;
  word-wrap:break-word;
}
#u7138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7138 {
  position:absolute;
  left:480px;
  top:10px;
  width:320px;
  height:568px;
}
#u7139 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7140 {
  position:absolute;
  left:480px;
  top:10px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7141 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u7142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7142 {
  position:absolute;
  left:486px;
  top:17px;
  width:26px;
  height:26px;
}
#u7143 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u7144 {
  position:absolute;
  left:600px;
  top:278px;
  width:68px;
  height:18px;
  color:#999999;
  text-align:center;
}
#u7145 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u7146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:119px;
}
#u7146 {
  position:absolute;
  left:577px;
  top:148px;
  width:119px;
  height:119px;
}
#u7147 {
  position:absolute;
  left:2px;
  top:52px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7148 {
  position:absolute;
  left:770px;
  top:17px;
  width:24px;
  height:24px;
}
#u7149 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7150 {
  position:absolute;
  left:362px;
  top:14px;
  width:46px;
  height:32px;
  color:#CC0000;
}
#u7151 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u7152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7152 {
  position:absolute;
  left:352px;
  top:454px;
  width:66px;
  height:48px;
  color:#CC0000;
}
#u7153 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u7154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7154 {
  position:absolute;
  left:311px;
  top:478px;
  width:31px;
  height:1px;
}
#u7155 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7156 {
  position:absolute;
  left:353px;
  top:358px;
  width:86px;
  height:32px;
  color:#CC0000;
}
#u7157 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u7158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7158 {
  position:absolute;
  left:313px;
  top:372px;
  width:31px;
  height:1px;
}
#u7159 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7160 {
  position:absolute;
  left:830px;
  top:17px;
  width:40px;
  height:64px;
  color:#CC0000;
}
#u7161 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u7162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7162 {
  position:absolute;
  left:790px;
  top:31px;
  width:31px;
  height:1px;
}
#u7163 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7164 {
  position:absolute;
  left:358px;
  top:167px;
  width:60px;
  height:32px;
  color:#CC0000;
}
#u7165 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7166 {
  position:absolute;
  left:320px;
  top:180px;
  width:31px;
  height:1px;
}
#u7167 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7168 {
  position:absolute;
  left:360px;
  top:235px;
  width:40px;
  height:48px;
  color:#CC0000;
}
#u7169 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u7170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7170 {
  position:absolute;
  left:320px;
  top:254px;
  width:31px;
  height:1px;
}
#u7171 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7172 {
  position:absolute;
  left:10px;
  top:685px;
  width:750px;
  height:185px;
  text-align:left;
}
#u7173 {
  position:absolute;
  left:10px;
  top:26px;
  width:738px;
  word-wrap:break-word;
}
#u7174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u7174 {
  position:absolute;
  left:50px;
  top:541px;
  width:230px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
  line-height:16px;
}
#u7175 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u7176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7176 {
  position:absolute;
  left:353px;
  top:539px;
  width:107px;
  height:48px;
  color:#CC0000;
}
#u7177 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u7178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7178 {
  position:absolute;
  left:322px;
  top:563px;
  width:31px;
  height:1px;
}
#u7179 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
}
#u7180 {
  position:absolute;
  left:506px;
  top:323px;
  width:270px;
  height:179px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7181 {
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7182 {
  position:absolute;
  left:547px;
  top:385px;
  width:193px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7183 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u7184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u7184 {
  position:absolute;
  left:692px;
  top:469px;
  width:54px;
  height:24px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u7185 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u7186 {
  position:absolute;
  left:544px;
  top:469px;
  width:78px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u7187 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
