body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7272 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u7273 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7274 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7275 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u7276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7276 {
  position:absolute;
  left:16px;
  top:17px;
  width:26px;
  height:26px;
}
#u7277 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7278 {
  position:absolute;
  left:298px;
  top:17px;
  width:24px;
  height:24px;
}
#u7279 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7280 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
}
#u7281 {
  position:absolute;
  left:10px;
  top:54px;
  width:320px;
  height:83px;
}
#u7282 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7283 {
  position:absolute;
  left:16px;
  top:74px;
  width:40px;
  height:40px;
  font-size:10px;
}
#u7284 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7285 {
  position:absolute;
  left:66px;
  top:64px;
  width:244px;
  height:48px;
}
#u7286 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u7287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u7287 {
  position:absolute;
  left:204px;
  top:121px;
  width:122px;
  height:13px;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u7288 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u7289 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
}
#u7290 {
  position:absolute;
  left:10px;
  top:138px;
  width:320px;
  height:83px;
}
#u7291 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7292 {
  position:absolute;
  left:16px;
  top:159px;
  width:40px;
  height:40px;
  font-size:10px;
}
#u7293 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7294 {
  position:absolute;
  left:66px;
  top:156px;
  width:234px;
  height:40px;
}
#u7295 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u7296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u7296 {
  position:absolute;
  left:204px;
  top:196px;
  width:122px;
  height:13px;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u7297 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u7298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7298 {
  position:absolute;
  left:300px;
  top:151px;
  width:32px;
  height:32px;
  opacity:0.5;
}
#u7299 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7300 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
}
#u7301 {
  position:absolute;
  left:10px;
  top:223px;
  width:320px;
  height:83px;
}
#u7302 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7303 {
  position:absolute;
  left:16px;
  top:244px;
  width:40px;
  height:40px;
  font-size:10px;
}
#u7304 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u7305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7305 {
  position:absolute;
  left:66px;
  top:233px;
  width:234px;
  height:48px;
}
#u7306 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u7307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u7307 {
  position:absolute;
  left:204px;
  top:287px;
  width:122px;
  height:13px;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u7308 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u7309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7309 {
  position:absolute;
  left:300px;
  top:235px;
  width:32px;
  height:32px;
  opacity:0.5;
}
#u7310 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7311 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:83px;
}
#u7312 {
  position:absolute;
  left:10px;
  top:316px;
  width:260px;
  height:83px;
}
#u7313 {
  position:absolute;
  left:2px;
  top:34px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:83px;
}
#u7314 {
  position:absolute;
  left:260px;
  top:316px;
  width:70px;
  height:83px;
  font-size:16px;
  color:#FFFFFF;
}
#u7315 {
  position:absolute;
  left:2px;
  top:32px;
  width:66px;
  word-wrap:break-word;
}
#u7316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7316 {
  position:absolute;
  left:480px;
  top:10px;
  width:320px;
  height:568px;
}
#u7317 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7318 {
  position:absolute;
  left:480px;
  top:10px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7319 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u7320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7320 {
  position:absolute;
  left:486px;
  top:17px;
  width:26px;
  height:26px;
}
#u7321 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u7322 {
  position:absolute;
  left:600px;
  top:278px;
  width:68px;
  height:18px;
  color:#999999;
  text-align:center;
}
#u7323 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u7324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:119px;
}
#u7324 {
  position:absolute;
  left:577px;
  top:148px;
  width:119px;
  height:119px;
}
#u7325 {
  position:absolute;
  left:2px;
  top:52px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7326 {
  position:absolute;
  left:770px;
  top:17px;
  width:24px;
  height:24px;
}
#u7327 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7328 {
  position:absolute;
  left:362px;
  top:14px;
  width:46px;
  height:32px;
  color:#CC0000;
}
#u7329 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u7330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7330 {
  position:absolute;
  left:352px;
  top:454px;
  width:66px;
  height:48px;
  color:#CC0000;
}
#u7331 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u7332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7332 {
  position:absolute;
  left:311px;
  top:478px;
  width:31px;
  height:1px;
}
#u7333 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7334 {
  position:absolute;
  left:353px;
  top:358px;
  width:86px;
  height:32px;
  color:#CC0000;
}
#u7335 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u7336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7336 {
  position:absolute;
  left:313px;
  top:372px;
  width:31px;
  height:1px;
}
#u7337 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7338 {
  position:absolute;
  left:830px;
  top:17px;
  width:40px;
  height:64px;
  color:#CC0000;
}
#u7339 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u7340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7340 {
  position:absolute;
  left:790px;
  top:31px;
  width:31px;
  height:1px;
}
#u7341 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7342 {
  position:absolute;
  left:358px;
  top:167px;
  width:60px;
  height:32px;
  color:#CC0000;
}
#u7343 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7344 {
  position:absolute;
  left:320px;
  top:180px;
  width:31px;
  height:1px;
}
#u7345 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7346 {
  position:absolute;
  left:360px;
  top:235px;
  width:40px;
  height:48px;
  color:#CC0000;
}
#u7347 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u7348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7348 {
  position:absolute;
  left:320px;
  top:254px;
  width:31px;
  height:1px;
}
#u7349 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7350 {
  position:absolute;
  left:10px;
  top:685px;
  width:750px;
  height:185px;
  text-align:left;
}
#u7351 {
  position:absolute;
  left:10px;
  top:26px;
  width:738px;
  word-wrap:break-word;
}
#u7352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u7352 {
  position:absolute;
  left:50px;
  top:541px;
  width:230px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
  line-height:16px;
}
#u7353 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u7354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u7354 {
  position:absolute;
  left:353px;
  top:539px;
  width:107px;
  height:48px;
  color:#CC0000;
}
#u7355 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u7356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u7356 {
  position:absolute;
  left:322px;
  top:563px;
  width:31px;
  height:1px;
}
#u7357 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
}
#u7358 {
  position:absolute;
  left:506px;
  top:323px;
  width:270px;
  height:179px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7359 {
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7360 {
  position:absolute;
  left:547px;
  top:385px;
  width:193px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7361 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u7362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u7362 {
  position:absolute;
  left:692px;
  top:469px;
  width:54px;
  height:24px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u7363 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u7364 {
  position:absolute;
  left:544px;
  top:469px;
  width:78px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u7365 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
