body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:42px;
  top:32px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:52px;
  top:501px;
  width:87px;
  height:66px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:66px;
}
#u3 {
  position:absolute;
  left:2px;
  top:25px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:145px;
  top:528px;
  width:207px;
  height:40px;
  color:#000000;
  line-height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:40px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:145px;
  top:503px;
  width:207px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:320px;
  top:518px;
  width:32px;
  height:32px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:42px;
  top:32px;
  width:320px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:52px;
  top:122px;
  width:300px;
  height:142px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:142px;
}
#u13 {
  position:absolute;
  left:2px;
  top:63px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:58px;
  top:226px;
  width:288px;
  height:32px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:58px;
  top:185px;
  width:40px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:42px;
  top:32px;
  width:320px;
  height:42px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
}
#u19 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:299px;
  top:84px;
  width:22px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:446px;
  top:32px;
  width:320px;
  height:568px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u23 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:446px;
  top:32px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:492px;
  top:36px;
  width:264px;
  height:32px;
  color:#CCCCCC;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:32px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:260px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:567px;
  top:9px;
  width:77px;
  height:16px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:729px;
  top:41px;
  width:21px;
  height:21px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:456px;
  top:103px;
  width:296px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u33 {
  position:absolute;
  left:472px;
  top:87px;
  width:60px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:452px;
  top:89px;
  width:16px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u36 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:456px;
  top:139px;
  width:296px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u38 {
  position:absolute;
  left:472px;
  top:123px;
  width:60px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:452px;
  top:125px;
  width:16px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u41 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:456px;
  top:175px;
  width:296px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
#u43 {
  position:absolute;
  left:472px;
  top:159px;
  width:60px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:452px;
  top:161px;
  width:16px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u46 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:446px;
  top:212px;
  width:320px;
  height:41px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:738px;
  top:143px;
  width:68px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:1px;
}
#u50 {
  position:absolute;
  left:806px;
  top:128px;
  width:74px;
  height:61px;
  color:#FF0000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:61px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:738px;
  top:404px;
  width:68px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:1px;
}
#u53 {
  position:absolute;
  left:368px;
  top:121px;
  width:74px;
  height:61px;
  color:#FF0000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:61px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:564px;
  top:570px;
  width:101px;
  height:16px;
  color:#BCBCBC;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:497px;
  top:41px;
  width:20px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:446px;
  top:36px;
  width:32px;
  height:32px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:48px;
  top:80px;
  width:241px;
  height:32px;
  color:#CCCCCC;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:32px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:237px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:53px;
  top:85px;
  width:20px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:42px;
  top:549px;
  width:320px;
  height:51px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u66 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:42px;
  top:680px;
  width:320px;
  height:568px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u68 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:42px;
  top:680px;
  width:320px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:52px;
  top:770px;
  width:300px;
  height:142px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:142px;
}
#u72 {
  position:absolute;
  left:2px;
  top:63px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:58px;
  top:874px;
  width:288px;
  height:32px;
  color:#000000;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:32px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:58px;
  top:833px;
  width:40px;
  height:40px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:42px;
  top:680px;
  width:320px;
  height:42px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
}
#u78 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:333px;
  top:730px;
  width:22px;
  height:22px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u80 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:48px;
  top:728px;
  width:252px;
  height:32px;
  color:#CCCCCC;
  text-align:left;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:32px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:248px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:53px;
  top:733px;
  width:20px;
  height:20px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:308px;
  top:734px;
  width:34px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:52px;
  top:920px;
  width:300px;
  height:142px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:142px;
}
#u88 {
  position:absolute;
  left:2px;
  top:63px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:58px;
  top:1024px;
  width:288px;
  height:32px;
  color:#000000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:32px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:58px;
  top:983px;
  width:40px;
  height:40px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u92 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:42px;
  top:1197px;
  width:320px;
  height:51px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u94 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:140px;
  top:722px;
  width:222px;
  height:475px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:475px;
}
#u96 {
  position:absolute;
  left:2px;
  top:230px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:140px;
  top:721px;
  width:222px;
  height:38px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:38px;
}
#u98 {
  position:absolute;
  left:2px;
  top:11px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:237px;
  top:732px;
  width:60px;
  height:19px;
  font-size:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:149px;
  top:734px;
  width:60px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:324px;
  top:734px;
  width:38px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:151px;
  top:832px;
  width:200px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u106 {
  position:absolute;
  left:150px;
  top:768px;
  width:60px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:149px;
  top:794px;
  width:61px;
  height:29px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u109 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:220px;
  top:794px;
  width:61px;
  height:29px;
  color:#FFFFFF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u111 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:291px;
  top:794px;
  width:61px;
  height:29px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u113 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:151px;
  top:995px;
  width:200px;
  height:10px;
}
#u114_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u115 {
  position:absolute;
  left:150px;
  top:930px;
  width:80px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:149px;
  top:956px;
  width:61px;
  height:29px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u118 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:220px;
  top:956px;
  width:61px;
  height:29px;
  color:#FFFFFF;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u120 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:291px;
  top:956px;
  width:61px;
  height:29px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u122 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:151px;
  top:913px;
  width:200px;
  height:10px;
}
#u123_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u124 {
  position:absolute;
  left:150px;
  top:849px;
  width:60px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:149px;
  top:875px;
  width:61px;
  height:29px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u127 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:220px;
  top:875px;
  width:61px;
  height:29px;
  color:#FFFFFF;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u129 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:149px;
  top:1020px;
  width:200px;
  height:31px;
  color:#FFFFFF;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:31px;
}
#u131 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:324px;
  top:79px;
  width:32px;
  height:32px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u133 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:367px;
  top:79px;
  width:32px;
  height:32px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u135 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:52px;
  top:424px;
  width:87px;
  height:66px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:66px;
}
#u137 {
  position:absolute;
  left:2px;
  top:25px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:145px;
  top:451px;
  width:207px;
  height:40px;
  color:#000000;
  line-height:20px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:40px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:145px;
  top:426px;
  width:197px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:19px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:327px;
  top:436px;
  width:32px;
  height:32px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u143 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:160px;
  top:9px;
  width:77px;
  height:16px;
  color:#000000;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:160px;
  top:654px;
  width:77px;
  height:16px;
  color:#000000;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:312px;
  top:317px;
  width:68px;
  height:10px;
}
#u148_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u148_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:18px;
  height:20px;
}
#u148_line {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:1px;
}
#u149 {
  position:absolute;
  left:380px;
  top:313px;
  width:74px;
  height:61px;
  color:#FF0000;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:61px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:312px;
  top:451px;
  width:68px;
  height:10px;
}
#u151_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u151_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:18px;
  height:20px;
}
#u151_line {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:1px;
}
#u152 {
  position:absolute;
  left:380px;
  top:451px;
  width:74px;
  height:61px;
  color:#FF0000;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:61px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:816px;
  top:392px;
  width:84px;
  height:61px;
  color:#FF0000;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:61px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:560px;
  top:275px;
  width:101px;
  height:16px;
  color:#BCBCBC;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:52px;
  top:273px;
  width:300px;
  height:142px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:142px;
}
#u159 {
  position:absolute;
  left:2px;
  top:63px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:58px;
  top:377px;
  width:288px;
  height:32px;
  color:#000000;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:32px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:58px;
  top:336px;
  width:40px;
  height:40px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u163 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:455px;
  top:322px;
  width:87px;
  height:66px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:66px;
}
#u165 {
  position:absolute;
  left:2px;
  top:25px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:548px;
  top:350px;
  width:207px;
  height:40px;
  color:#000000;
  line-height:20px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:40px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:548px;
  top:324px;
  width:197px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:19px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:730px;
  top:334px;
  width:32px;
  height:32px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u171 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:455px;
  top:398px;
  width:87px;
  height:66px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:66px;
}
#u173 {
  position:absolute;
  left:2px;
  top:25px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:548px;
  top:426px;
  width:207px;
  height:40px;
  color:#000000;
  line-height:20px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:40px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:548px;
  top:400px;
  width:197px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:19px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:730px;
  top:410px;
  width:32px;
  height:32px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u179 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:455px;
  top:473px;
  width:87px;
  height:66px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:66px;
}
#u181 {
  position:absolute;
  left:2px;
  top:25px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:548px;
  top:501px;
  width:207px;
  height:40px;
  color:#000000;
  line-height:20px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:40px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:548px;
  top:475px;
  width:197px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:19px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:730px;
  top:485px;
  width:32px;
  height:32px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u187 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:312px;
  top:878px;
  width:68px;
  height:10px;
}
#u188_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u188_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:18px;
  height:20px;
}
#u188_line {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:1px;
}
#u189 {
  position:absolute;
  left:380px;
  top:874px;
  width:74px;
  height:49px;
  color:#FF0000;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:49px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:340px;
  top:964px;
  width:40px;
  height:10px;
}
#u191_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u191_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u191_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u192 {
  position:absolute;
  left:380px;
  top:960px;
  width:74px;
  height:80px;
  color:#FF0000;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:80px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:469px;
  top:652px;
  width:270px;
  height:179px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
}
#u195 {
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:505px;
  top:704px;
  width:208px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:24px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:655px;
  top:798px;
  width:54px;
  height:24px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:511px;
  top:798px;
  width:62px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
