body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12101 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:568px;
}
#u12102 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:370px;
}
#u12103 {
  position:absolute;
  left:20px;
  top:220px;
  width:320px;
  height:370px;
}
#u12104 {
  position:absolute;
  left:2px;
  top:177px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u12105 {
  position:absolute;
  left:20px;
  top:62px;
  width:320px;
  height:120px;
}
#u12106 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12107 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12108 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12111 {
  position:absolute;
  left:32px;
  top:71px;
  width:60px;
  height:60px;
}
#u12112 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12113 {
  position:absolute;
  left:32px;
  top:71px;
  width:60px;
  height:60px;
}
#u12114 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u12115 {
  position:absolute;
  left:94px;
  top:106px;
  width:38px;
  height:25px;
}
#u12116 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12117 {
  position:absolute;
  left:95px;
  top:79px;
  width:55px;
  height:24px;
  font-size:20px;
}
#u12118 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u12119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12119 {
  position:absolute;
  left:78px;
  top:31px;
  width:200px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12120 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u12121 {
  position:absolute;
  left:307px;
  top:29px;
  width:26px;
  height:26px;
}
#u12122 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12123 {
  position:absolute;
  left:26px;
  top:192px;
  width:304px;
  height:16px;
  text-align:center;
}
#u12124 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u12125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12126 {
  position:absolute;
  left:60px;
  top:157px;
  width:42px;
  height:16px;
}
#u12127 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u12128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u12128 {
  position:absolute;
  left:20px;
  top:140px;
  width:40px;
  height:30px;
}
#u12129 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12130 {
  position:absolute;
  left:61px;
  top:141px;
  width:62px;
  height:16px;
}
#u12131 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u12132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12133 {
  position:absolute;
  left:172px;
  top:155px;
  width:65px;
  height:16px;
}
#u12134 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u12135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u12135 {
  position:absolute;
  left:134px;
  top:139px;
  width:40px;
  height:30px;
}
#u12136 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12137 {
  position:absolute;
  left:174px;
  top:140px;
  width:39px;
  height:16px;
}
#u12138 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u12139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12140 {
  position:absolute;
  left:276px;
  top:155px;
  width:60px;
  height:16px;
}
#u12141 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u12142 {
  position:absolute;
  left:236px;
  top:140px;
  width:40px;
  height:30px;
}
#u12143 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12144 {
  position:absolute;
  left:275px;
  top:139px;
  width:60px;
  height:16px;
}
#u12145 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12146 {
  position:absolute;
  left:166px;
  top:88px;
  width:158px;
  height:33px;
}
#u12147 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u12148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:271px;
}
#u12148 {
  position:absolute;
  left:20px;
  top:219px;
  width:320px;
  height:271px;
}
#u12149 {
  position:absolute;
  left:2px;
  top:128px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12150 {
  position:absolute;
  left:132px;
  top:228px;
  width:44px;
  height:16px;
  color:#999999;
}
#u12151 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u12152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u12152 {
  position:absolute;
  left:48px;
  top:228px;
  width:44px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u12153 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u12154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12154 {
  position:absolute;
  left:195px;
  top:228px;
  width:31px;
  height:16px;
  color:#999999;
}
#u12155 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u12156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12156 {
  position:absolute;
  left:34px;
  top:247px;
  width:296px;
  height:1px;
}
#u12157 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12158 {
  position:absolute;
  left:265px;
  top:228px;
  width:54px;
  height:16px;
  color:#999999;
}
#u12159 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u12160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12160 {
  position:absolute;
  left:73px;
  top:259px;
  width:49px;
  height:32px;
  color:#000000;
}
#u12161 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u12162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12162 {
  position:absolute;
  left:126px;
  top:267px;
  width:37px;
  height:16px;
  text-align:center;
}
#u12163 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u12164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12164 {
  position:absolute;
  left:175px;
  top:256px;
  width:71px;
  height:32px;
  text-align:center;
}
#u12165 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12167 {
  position:absolute;
  left:256px;
  top:253px;
  width:34px;
  height:19px;
}
#u12168 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12169 {
  position:absolute;
  left:296px;
  top:253px;
  width:34px;
  height:19px;
}
#u12170 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12172 {
  position:absolute;
  left:256px;
  top:274px;
  width:34px;
  height:19px;
}
#u12173 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12174 {
  position:absolute;
  left:296px;
  top:274px;
  width:34px;
  height:19px;
}
#u12175 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12176 {
  position:absolute;
  left:34px;
  top:300px;
  width:296px;
  height:1px;
}
#u12177 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12178 {
  position:absolute;
  left:31px;
  top:254px;
  width:40px;
  height:40px;
}
#u12179 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u12180 {
  position:absolute;
  left:360px;
  top:233px;
  width:60px;
  height:103px;
  color:#008000;
}
#u12181 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12182 {
  position:absolute;
  left:73px;
  top:311px;
  width:49px;
  height:32px;
  color:#000000;
}
#u12183 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u12184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12184 {
  position:absolute;
  left:126px;
  top:319px;
  width:37px;
  height:16px;
  text-align:center;
}
#u12185 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u12186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12186 {
  position:absolute;
  left:175px;
  top:308px;
  width:71px;
  height:32px;
  text-align:center;
}
#u12187 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12189 {
  position:absolute;
  left:256px;
  top:305px;
  width:34px;
  height:19px;
}
#u12190 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12191 {
  position:absolute;
  left:296px;
  top:305px;
  width:34px;
  height:19px;
}
#u12192 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12194 {
  position:absolute;
  left:256px;
  top:326px;
  width:34px;
  height:19px;
}
#u12195 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12196 {
  position:absolute;
  left:296px;
  top:326px;
  width:34px;
  height:19px;
}
#u12197 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12198 {
  position:absolute;
  left:34px;
  top:352px;
  width:296px;
  height:1px;
}
#u12199 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12200 {
  position:absolute;
  left:31px;
  top:306px;
  width:40px;
  height:40px;
}
#u12201 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12202 {
  position:absolute;
  left:73px;
  top:363px;
  width:49px;
  height:32px;
  color:#000000;
}
#u12203 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u12204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12204 {
  position:absolute;
  left:126px;
  top:371px;
  width:37px;
  height:16px;
  text-align:center;
}
#u12205 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u12206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12206 {
  position:absolute;
  left:175px;
  top:360px;
  width:71px;
  height:32px;
  text-align:center;
}
#u12207 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12209 {
  position:absolute;
  left:256px;
  top:357px;
  width:34px;
  height:19px;
}
#u12210 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12211 {
  position:absolute;
  left:296px;
  top:357px;
  width:34px;
  height:19px;
}
#u12212 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12214 {
  position:absolute;
  left:256px;
  top:378px;
  width:34px;
  height:19px;
}
#u12215 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12216 {
  position:absolute;
  left:296px;
  top:378px;
  width:34px;
  height:19px;
}
#u12217 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12218 {
  position:absolute;
  left:34px;
  top:404px;
  width:296px;
  height:1px;
}
#u12219 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12220 {
  position:absolute;
  left:31px;
  top:358px;
  width:40px;
  height:40px;
}
#u12221 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12222 {
  position:absolute;
  left:73px;
  top:415px;
  width:49px;
  height:32px;
  color:#000000;
}
#u12223 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u12224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12224 {
  position:absolute;
  left:126px;
  top:423px;
  width:37px;
  height:16px;
  text-align:center;
}
#u12225 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u12226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12226 {
  position:absolute;
  left:175px;
  top:412px;
  width:71px;
  height:32px;
  text-align:center;
}
#u12227 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12229 {
  position:absolute;
  left:256px;
  top:409px;
  width:34px;
  height:19px;
}
#u12230 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12231 {
  position:absolute;
  left:296px;
  top:409px;
  width:34px;
  height:19px;
}
#u12232 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12234 {
  position:absolute;
  left:256px;
  top:430px;
  width:34px;
  height:19px;
}
#u12235 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12236 {
  position:absolute;
  left:296px;
  top:430px;
  width:34px;
  height:19px;
}
#u12237 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12238 {
  position:absolute;
  left:34px;
  top:456px;
  width:296px;
  height:1px;
}
#u12239 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12240 {
  position:absolute;
  left:31px;
  top:410px;
  width:40px;
  height:40px;
}
#u12241 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12242 {
  position:absolute;
  left:73px;
  top:467px;
  width:49px;
  height:32px;
  color:#000000;
}
#u12243 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u12244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12244 {
  position:absolute;
  left:126px;
  top:475px;
  width:37px;
  height:16px;
  text-align:center;
}
#u12245 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u12246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12246 {
  position:absolute;
  left:175px;
  top:464px;
  width:71px;
  height:32px;
  text-align:center;
}
#u12247 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12249 {
  position:absolute;
  left:256px;
  top:461px;
  width:34px;
  height:19px;
}
#u12250 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12251 {
  position:absolute;
  left:296px;
  top:461px;
  width:34px;
  height:19px;
}
#u12252 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12253 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12254 {
  position:absolute;
  left:256px;
  top:482px;
  width:34px;
  height:19px;
}
#u12255 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12256 {
  position:absolute;
  left:296px;
  top:482px;
  width:34px;
  height:19px;
}
#u12257 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12258 {
  position:absolute;
  left:34px;
  top:508px;
  width:296px;
  height:1px;
}
#u12259 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12260 {
  position:absolute;
  left:31px;
  top:462px;
  width:40px;
  height:40px;
}
#u12261 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u12262 {
  position:absolute;
  left:25px;
  top:29px;
  width:26px;
  height:26px;
}
#u12263 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u12265 {
  position:absolute;
  left:278px;
  top:31px;
  width:22px;
  height:24px;
}
#u12266 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12267 {
  position:absolute;
  left:291px;
  top:26px;
  width:15px;
  height:15px;
}
#u12268 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12269 {
  position:absolute;
  left:379px;
  top:23px;
  width:171px;
  height:36px;
  color:#FF0000;
}
#u12270 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u12271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:2px;
}
#u12271 {
  position:absolute;
  left:300px;
  top:46px;
  width:76px;
  height:1px;
}
#u12272 {
  position:absolute;
  left:2px;
  top:-8px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
