body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11923 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:568px;
}
#u11924 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:370px;
}
#u11925 {
  position:absolute;
  left:20px;
  top:220px;
  width:320px;
  height:370px;
}
#u11926 {
  position:absolute;
  left:2px;
  top:177px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u11927 {
  position:absolute;
  left:20px;
  top:62px;
  width:320px;
  height:120px;
}
#u11928 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u11929 {
  position:absolute;
  left:20px;
  top:22px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u11930 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11933 {
  position:absolute;
  left:32px;
  top:71px;
  width:60px;
  height:60px;
}
#u11934 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u11935 {
  position:absolute;
  left:32px;
  top:71px;
  width:60px;
  height:60px;
}
#u11936 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u11937 {
  position:absolute;
  left:94px;
  top:106px;
  width:38px;
  height:25px;
}
#u11938 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u11939 {
  position:absolute;
  left:95px;
  top:79px;
  width:55px;
  height:24px;
  font-size:20px;
}
#u11940 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u11941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11941 {
  position:absolute;
  left:78px;
  top:31px;
  width:200px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11942 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u11943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u11943 {
  position:absolute;
  left:307px;
  top:29px;
  width:26px;
  height:26px;
}
#u11944 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u11945 {
  position:absolute;
  left:26px;
  top:192px;
  width:304px;
  height:16px;
  text-align:center;
}
#u11946 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u11947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11948 {
  position:absolute;
  left:60px;
  top:157px;
  width:42px;
  height:16px;
}
#u11949 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u11950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u11950 {
  position:absolute;
  left:20px;
  top:140px;
  width:40px;
  height:30px;
}
#u11951 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11952 {
  position:absolute;
  left:61px;
  top:141px;
  width:62px;
  height:16px;
}
#u11953 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u11954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11955 {
  position:absolute;
  left:172px;
  top:155px;
  width:65px;
  height:16px;
}
#u11956 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u11957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u11957 {
  position:absolute;
  left:134px;
  top:139px;
  width:40px;
  height:30px;
}
#u11958 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11959 {
  position:absolute;
  left:174px;
  top:140px;
  width:39px;
  height:16px;
}
#u11960 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u11961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11962 {
  position:absolute;
  left:276px;
  top:155px;
  width:60px;
  height:16px;
}
#u11963 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u11964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u11964 {
  position:absolute;
  left:236px;
  top:140px;
  width:40px;
  height:30px;
}
#u11965 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11966 {
  position:absolute;
  left:275px;
  top:139px;
  width:60px;
  height:16px;
}
#u11967 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u11968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11968 {
  position:absolute;
  left:166px;
  top:88px;
  width:158px;
  height:33px;
}
#u11969 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u11970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:271px;
}
#u11970 {
  position:absolute;
  left:20px;
  top:219px;
  width:320px;
  height:271px;
}
#u11971 {
  position:absolute;
  left:2px;
  top:128px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11972 {
  position:absolute;
  left:132px;
  top:228px;
  width:44px;
  height:16px;
  color:#999999;
}
#u11973 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u11974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u11974 {
  position:absolute;
  left:48px;
  top:228px;
  width:44px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u11975 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u11976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11976 {
  position:absolute;
  left:195px;
  top:228px;
  width:31px;
  height:16px;
  color:#999999;
}
#u11977 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u11978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u11978 {
  position:absolute;
  left:34px;
  top:247px;
  width:296px;
  height:1px;
}
#u11979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11980 {
  position:absolute;
  left:265px;
  top:228px;
  width:54px;
  height:16px;
  color:#999999;
}
#u11981 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u11982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u11982 {
  position:absolute;
  left:73px;
  top:259px;
  width:49px;
  height:32px;
  color:#000000;
}
#u11983 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u11984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u11984 {
  position:absolute;
  left:126px;
  top:267px;
  width:37px;
  height:16px;
  text-align:center;
}
#u11985 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u11986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u11986 {
  position:absolute;
  left:175px;
  top:256px;
  width:71px;
  height:32px;
  text-align:center;
}
#u11987 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u11988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u11989 {
  position:absolute;
  left:256px;
  top:253px;
  width:34px;
  height:19px;
}
#u11990 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u11991 {
  position:absolute;
  left:296px;
  top:253px;
  width:34px;
  height:19px;
}
#u11992 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u11994 {
  position:absolute;
  left:256px;
  top:274px;
  width:34px;
  height:19px;
}
#u11995 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u11996 {
  position:absolute;
  left:296px;
  top:274px;
  width:34px;
  height:19px;
}
#u11997 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u11998 {
  position:absolute;
  left:34px;
  top:300px;
  width:296px;
  height:1px;
}
#u11999 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12000 {
  position:absolute;
  left:31px;
  top:254px;
  width:40px;
  height:40px;
}
#u12001 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u12002 {
  position:absolute;
  left:360px;
  top:233px;
  width:60px;
  height:103px;
  color:#008000;
}
#u12003 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12004 {
  position:absolute;
  left:73px;
  top:311px;
  width:49px;
  height:32px;
  color:#000000;
}
#u12005 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u12006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12006 {
  position:absolute;
  left:126px;
  top:319px;
  width:37px;
  height:16px;
  text-align:center;
}
#u12007 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u12008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12008 {
  position:absolute;
  left:175px;
  top:308px;
  width:71px;
  height:32px;
  text-align:center;
}
#u12009 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12011 {
  position:absolute;
  left:256px;
  top:305px;
  width:34px;
  height:19px;
}
#u12012 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12013 {
  position:absolute;
  left:296px;
  top:305px;
  width:34px;
  height:19px;
}
#u12014 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12016 {
  position:absolute;
  left:256px;
  top:326px;
  width:34px;
  height:19px;
}
#u12017 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12018 {
  position:absolute;
  left:296px;
  top:326px;
  width:34px;
  height:19px;
}
#u12019 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12020 {
  position:absolute;
  left:34px;
  top:352px;
  width:296px;
  height:1px;
}
#u12021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12022 {
  position:absolute;
  left:31px;
  top:306px;
  width:40px;
  height:40px;
}
#u12023 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12024 {
  position:absolute;
  left:73px;
  top:363px;
  width:49px;
  height:32px;
  color:#000000;
}
#u12025 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u12026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12026 {
  position:absolute;
  left:126px;
  top:371px;
  width:37px;
  height:16px;
  text-align:center;
}
#u12027 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u12028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12028 {
  position:absolute;
  left:175px;
  top:360px;
  width:71px;
  height:32px;
  text-align:center;
}
#u12029 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12031 {
  position:absolute;
  left:256px;
  top:357px;
  width:34px;
  height:19px;
}
#u12032 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12033 {
  position:absolute;
  left:296px;
  top:357px;
  width:34px;
  height:19px;
}
#u12034 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12036 {
  position:absolute;
  left:256px;
  top:378px;
  width:34px;
  height:19px;
}
#u12037 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12038 {
  position:absolute;
  left:296px;
  top:378px;
  width:34px;
  height:19px;
}
#u12039 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12040 {
  position:absolute;
  left:34px;
  top:404px;
  width:296px;
  height:1px;
}
#u12041 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12042 {
  position:absolute;
  left:31px;
  top:358px;
  width:40px;
  height:40px;
}
#u12043 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12044 {
  position:absolute;
  left:73px;
  top:415px;
  width:49px;
  height:32px;
  color:#000000;
}
#u12045 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u12046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12046 {
  position:absolute;
  left:126px;
  top:423px;
  width:37px;
  height:16px;
  text-align:center;
}
#u12047 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u12048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12048 {
  position:absolute;
  left:175px;
  top:412px;
  width:71px;
  height:32px;
  text-align:center;
}
#u12049 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12051 {
  position:absolute;
  left:256px;
  top:409px;
  width:34px;
  height:19px;
}
#u12052 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12053 {
  position:absolute;
  left:296px;
  top:409px;
  width:34px;
  height:19px;
}
#u12054 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12056 {
  position:absolute;
  left:256px;
  top:430px;
  width:34px;
  height:19px;
}
#u12057 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12058 {
  position:absolute;
  left:296px;
  top:430px;
  width:34px;
  height:19px;
}
#u12059 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12060 {
  position:absolute;
  left:34px;
  top:456px;
  width:296px;
  height:1px;
}
#u12061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12062 {
  position:absolute;
  left:31px;
  top:410px;
  width:40px;
  height:40px;
}
#u12063 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12064 {
  position:absolute;
  left:73px;
  top:467px;
  width:49px;
  height:32px;
  color:#000000;
}
#u12065 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u12066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12066 {
  position:absolute;
  left:126px;
  top:475px;
  width:37px;
  height:16px;
  text-align:center;
}
#u12067 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u12068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12068 {
  position:absolute;
  left:175px;
  top:464px;
  width:71px;
  height:32px;
  text-align:center;
}
#u12069 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u12070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12071 {
  position:absolute;
  left:256px;
  top:461px;
  width:34px;
  height:19px;
}
#u12072 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12073 {
  position:absolute;
  left:296px;
  top:461px;
  width:34px;
  height:19px;
}
#u12074 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12076 {
  position:absolute;
  left:256px;
  top:482px;
  width:34px;
  height:19px;
}
#u12077 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12078 {
  position:absolute;
  left:296px;
  top:482px;
  width:34px;
  height:19px;
}
#u12079 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u12080 {
  position:absolute;
  left:34px;
  top:508px;
  width:296px;
  height:1px;
}
#u12081 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12082 {
  position:absolute;
  left:31px;
  top:462px;
  width:40px;
  height:40px;
}
#u12083 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u12084 {
  position:absolute;
  left:25px;
  top:29px;
  width:26px;
  height:26px;
}
#u12085 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u12087 {
  position:absolute;
  left:278px;
  top:31px;
  width:22px;
  height:24px;
}
#u12088 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12089 {
  position:absolute;
  left:291px;
  top:26px;
  width:15px;
  height:15px;
}
#u12090 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12091 {
  position:absolute;
  left:379px;
  top:23px;
  width:171px;
  height:36px;
  color:#FF0000;
}
#u12092 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u12093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:2px;
}
#u12093 {
  position:absolute;
  left:300px;
  top:46px;
  width:76px;
  height:1px;
}
#u12094 {
  position:absolute;
  left:2px;
  top:-8px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
