body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:778px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9810 {
  position:absolute;
  left:342px;
  top:22px;
  width:320px;
  height:778px;
}
#u9811 {
  position:absolute;
  left:2px;
  top:381px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9812 {
  position:absolute;
  left:342px;
  top:22px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9813 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9814 {
  position:absolute;
  left:366px;
  top:34px;
  width:40px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9815 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9816 {
  position:absolute;
  left:447px;
  top:34px;
  width:40px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9817 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9818 {
  position:absolute;
  left:521px;
  top:34px;
  width:40px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9819 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9820 {
  position:absolute;
  left:632px;
  top:30px;
  width:24px;
  height:24px;
}
#u9821 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9822_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:5px;
}
#u9822 {
  position:absolute;
  left:356px;
  top:59px;
  width:50px;
  height:2px;
}
#u9823 {
  position:absolute;
  left:2px;
  top:-7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9824 {
  position:absolute;
  left:355px;
  top:70px;
  width:151px;
  height:16px;
}
#u9825 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u9826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:271px;
}
#u9826 {
  position:absolute;
  left:342px;
  top:89px;
  width:320px;
  height:271px;
}
#u9827 {
  position:absolute;
  left:2px;
  top:128px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u9829 {
  position:absolute;
  left:354px;
  top:176px;
  width:296px;
  height:1px;
}
#u9830 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9831 {
  position:absolute;
  left:371px;
  top:113px;
  width:40px;
  height:40px;
}
#u9832 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9833 {
  position:absolute;
  left:588px;
  top:112px;
  width:40px;
  height:40px;
}
#u9834 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9835 {
  position:absolute;
  left:477px;
  top:124px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u9836 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9837 {
  position:absolute;
  left:366px;
  top:151px;
  width:51px;
  height:16px;
  text-align:center;
}
#u9838 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u9839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9839 {
  position:absolute;
  left:578px;
  top:153px;
  width:61px;
  height:16px;
  text-align:center;
}
#u9840 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u9841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u9841 {
  position:absolute;
  left:338px;
  top:96px;
  width:320px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u9842 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u9843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9843 {
  position:absolute;
  left:460px;
  top:148px;
  width:72px;
  height:21px;
  color:#999999;
}
#u9844 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u9845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u9846 {
  position:absolute;
  left:354px;
  top:264px;
  width:296px;
  height:1px;
}
#u9847 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9848 {
  position:absolute;
  left:371px;
  top:201px;
  width:40px;
  height:40px;
}
#u9849 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9850 {
  position:absolute;
  left:588px;
  top:200px;
  width:40px;
  height:40px;
}
#u9851 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9852 {
  position:absolute;
  left:477px;
  top:212px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u9853 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9854 {
  position:absolute;
  left:366px;
  top:239px;
  width:51px;
  height:16px;
  text-align:center;
}
#u9855 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u9856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9856 {
  position:absolute;
  left:578px;
  top:241px;
  width:61px;
  height:16px;
  text-align:center;
}
#u9857 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u9858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u9858 {
  position:absolute;
  left:410px;
  top:184px;
  width:200px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u9859 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u9860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9860 {
  position:absolute;
  left:460px;
  top:236px;
  width:72px;
  height:21px;
  color:#999999;
}
#u9861 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u9862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9863 {
  position:absolute;
  left:371px;
  top:289px;
  width:40px;
  height:40px;
}
#u9864 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9865 {
  position:absolute;
  left:588px;
  top:288px;
  width:40px;
  height:40px;
}
#u9866 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9867 {
  position:absolute;
  left:477px;
  top:300px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u9868 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9869 {
  position:absolute;
  left:366px;
  top:327px;
  width:51px;
  height:16px;
  text-align:center;
}
#u9870 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u9871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9871 {
  position:absolute;
  left:578px;
  top:329px;
  width:61px;
  height:16px;
  text-align:center;
}
#u9872 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u9873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u9873 {
  position:absolute;
  left:371px;
  top:272px;
  width:239px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u9874 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u9875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9875 {
  position:absolute;
  left:460px;
  top:324px;
  width:72px;
  height:21px;
}
#u9876 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u9877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9877 {
  position:absolute;
  left:355px;
  top:368px;
  width:151px;
  height:16px;
}
#u9878 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u9879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:183px;
}
#u9879 {
  position:absolute;
  left:342px;
  top:387px;
  width:320px;
  height:183px;
}
#u9880 {
  position:absolute;
  left:2px;
  top:84px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u9882 {
  position:absolute;
  left:354px;
  top:474px;
  width:296px;
  height:1px;
}
#u9883 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9884 {
  position:absolute;
  left:371px;
  top:411px;
  width:40px;
  height:40px;
}
#u9885 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9886 {
  position:absolute;
  left:588px;
  top:410px;
  width:40px;
  height:40px;
}
#u9887 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9888 {
  position:absolute;
  left:477px;
  top:422px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u9889 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9890 {
  position:absolute;
  left:366px;
  top:449px;
  width:51px;
  height:16px;
  text-align:center;
}
#u9891 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u9892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9892 {
  position:absolute;
  left:578px;
  top:451px;
  width:61px;
  height:16px;
  text-align:center;
}
#u9893 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u9894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9894 {
  position:absolute;
  left:371px;
  top:394px;
  width:239px;
  height:16px;
  color:#999999;
}
#u9895 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u9896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9896 {
  position:absolute;
  left:460px;
  top:446px;
  width:72px;
  height:21px;
}
#u9897 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u9898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9899 {
  position:absolute;
  left:371px;
  top:499px;
  width:40px;
  height:40px;
}
#u9900 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9901 {
  position:absolute;
  left:588px;
  top:498px;
  width:40px;
  height:40px;
}
#u9902 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9903 {
  position:absolute;
  left:477px;
  top:510px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u9904 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9905 {
  position:absolute;
  left:366px;
  top:537px;
  width:51px;
  height:16px;
  text-align:center;
}
#u9906 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u9907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9907 {
  position:absolute;
  left:578px;
  top:539px;
  width:61px;
  height:16px;
  text-align:center;
}
#u9908 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u9909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9909 {
  position:absolute;
  left:371px;
  top:482px;
  width:239px;
  height:16px;
  color:#999999;
}
#u9910 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u9911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9911 {
  position:absolute;
  left:460px;
  top:534px;
  width:72px;
  height:21px;
}
#u9912 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u9913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9913 {
  position:absolute;
  left:355px;
  top:580px;
  width:151px;
  height:16px;
}
#u9914 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u9915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:183px;
}
#u9915 {
  position:absolute;
  left:342px;
  top:599px;
  width:320px;
  height:183px;
}
#u9916 {
  position:absolute;
  left:2px;
  top:84px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u9918 {
  position:absolute;
  left:354px;
  top:686px;
  width:296px;
  height:1px;
}
#u9919 {
  position:absolute;
  left:2px;
  top:-8px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9920 {
  position:absolute;
  left:371px;
  top:623px;
  width:40px;
  height:40px;
}
#u9921 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9922 {
  position:absolute;
  left:588px;
  top:622px;
  width:40px;
  height:40px;
}
#u9923 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9924 {
  position:absolute;
  left:477px;
  top:634px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u9925 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9926 {
  position:absolute;
  left:366px;
  top:661px;
  width:51px;
  height:16px;
  text-align:center;
}
#u9927 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u9928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9928 {
  position:absolute;
  left:578px;
  top:663px;
  width:61px;
  height:16px;
  text-align:center;
}
#u9929 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u9930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9930 {
  position:absolute;
  left:371px;
  top:606px;
  width:239px;
  height:16px;
  color:#999999;
}
#u9931 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u9932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9932 {
  position:absolute;
  left:460px;
  top:658px;
  width:72px;
  height:21px;
}
#u9933 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u9934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9935 {
  position:absolute;
  left:371px;
  top:711px;
  width:40px;
  height:40px;
}
#u9936 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9937 {
  position:absolute;
  left:588px;
  top:710px;
  width:40px;
  height:40px;
}
#u9938 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9939 {
  position:absolute;
  left:477px;
  top:722px;
  width:40px;
  height:22px;
  font-size:18px;
}
#u9940 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9941 {
  position:absolute;
  left:366px;
  top:749px;
  width:51px;
  height:16px;
  text-align:center;
}
#u9942 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u9943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9943 {
  position:absolute;
  left:578px;
  top:751px;
  width:61px;
  height:16px;
  text-align:center;
}
#u9944 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u9945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9945 {
  position:absolute;
  left:371px;
  top:694px;
  width:239px;
  height:16px;
  color:#999999;
}
#u9946 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u9947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9947 {
  position:absolute;
  left:460px;
  top:746px;
  width:72px;
  height:21px;
}
#u9948 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u9949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u9950 {
  position:absolute;
  left:129px;
  top:96px;
  width:160px;
  height:160px;
}
#u9951 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9952 {
  position:absolute;
  left:139px;
  top:235px;
  width:150px;
  height:32px;
}
#u9953 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u9954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9954 {
  position:absolute;
  left:690px;
  top:57px;
  width:60px;
  height:36px;
  color:#FF0000;
}
#u9955 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u9956 {
  position:absolute;
  left:641px;
  top:76px;
  width:41px;
  height:1px;
}
#u9957 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9958 {
  position:absolute;
  left:342px;
  top:580px;
  width:320px;
  height:220px;
  overflow:hidden;
  visibility:hidden;
}
#u9958_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9958_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u9959 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u9960 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u9962 {
  position:absolute;
  left:0px;
  top:165px;
  width:320px;
  height:56px;
  font-size:20px;
  color:#000000;
}
#u9963 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u9964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u9964 {
  position:absolute;
  left:0px;
  top:109px;
  width:320px;
  height:56px;
  font-size:20px;
  color:#000000;
}
#u9965 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u9966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u9966 {
  position:absolute;
  left:0px;
  top:55px;
  width:320px;
  height:56px;
  font-size:20px;
  color:#000000;
}
#u9967 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u9968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u9968 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  font-size:20px;
  color:#000000;
}
#u9969 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u9970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u9970 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u9971 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u9973 {
  position:absolute;
  left:12px;
  top:744px;
  width:320px;
  height:56px;
  font-size:20px;
  color:#000000;
}
#u9974 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u9975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u9975 {
  position:absolute;
  left:12px;
  top:688px;
  width:320px;
  height:56px;
  font-size:20px;
  color:#000000;
}
#u9976 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u9977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u9977 {
  position:absolute;
  left:12px;
  top:634px;
  width:320px;
  height:56px;
  font-size:20px;
  color:#000000;
}
#u9978 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u9979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u9979 {
  position:absolute;
  left:12px;
  top:579px;
  width:320px;
  height:56px;
  font-size:20px;
  color:#000000;
}
#u9980 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u9981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9981 {
  position:absolute;
  left:35px;
  top:350px;
  width:250px;
  height:70px;
  font-size:16px;
}
#u9982 {
  position:absolute;
  left:2px;
  top:26px;
  width:246px;
  word-wrap:break-word;
}
#u9983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9983 {
  position:absolute;
  left:35px;
  top:420px;
  width:125px;
  height:45px;
}
#u9984 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u9985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u9985 {
  position:absolute;
  left:160px;
  top:420px;
  width:125px;
  height:45px;
  color:#008000;
}
#u9986 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u9987 {
  position:absolute;
  left:342px;
  top:250px;
  width:320px;
  height:167px;
  overflow:hidden;
  visibility:hidden;
}
#u9987_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:167px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9987_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9988 {
  position:absolute;
  left:40px;
  top:20px;
  width:250px;
  height:70px;
  font-size:16px;
}
#u9989 {
  position:absolute;
  left:2px;
  top:26px;
  width:246px;
  word-wrap:break-word;
}
#u9990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9990 {
  position:absolute;
  left:40px;
  top:90px;
  width:125px;
  height:45px;
}
#u9991 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u9992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u9992 {
  position:absolute;
  left:165px;
  top:90px;
  width:125px;
  height:45px;
  color:#008000;
}
#u9993 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u9994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9994 {
  position:absolute;
  left:690px;
  top:140px;
  width:105px;
  height:36px;
  color:#FF0000;
}
#u9995 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u9996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:2px;
}
#u9996 {
  position:absolute;
  left:522px;
  top:159px;
  width:160px;
  height:1px;
}
#u9997 {
  position:absolute;
  left:2px;
  top:-8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9998 {
  position:absolute;
  left:104px;
  top:316px;
  width:179px;
  height:20px;
  color:#FF0000;
}
#u9999 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u10000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:2px;
}
#u10000 {
  position:absolute;
  left:312px;
  top:333px;
  width:160px;
  height:1px;
}
#u10001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10004 {
  position:absolute;
  left:342px;
  top:800px;
  width:320px;
  height:40px;
}
#u10005 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10006 {
  position:absolute;
  left:362px;
  top:812px;
  width:31px;
  height:16px;
  color:#FFFFFF;
}
#u10007 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u10008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10008 {
  position:absolute;
  left:426px;
  top:812px;
  width:31px;
  height:16px;
  color:#FFFFFF;
}
#u10009 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u10010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u10010 {
  position:absolute;
  left:490px;
  top:812px;
  width:31px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u10011 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u10012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10012 {
  position:absolute;
  left:555px;
  top:812px;
  width:31px;
  height:16px;
  color:#FFFFFF;
}
#u10013 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u10014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10014 {
  position:absolute;
  left:619px;
  top:812px;
  width:31px;
  height:16px;
  color:#FFFFFF;
}
#u10015 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u10016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10016 {
  position:absolute;
  left:685px;
  top:420px;
  width:27px;
  height:36px;
  color:#FF0000;
}
#u10017 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u10018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:2px;
}
#u10018 {
  position:absolute;
  left:649px;
  top:439px;
  width:33px;
  height:1px;
}
#u10019 {
  position:absolute;
  left:2px;
  top:-8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10020 {
  position:absolute;
  left:766px;
  top:31px;
  width:171px;
  height:36px;
  color:#FF0000;
}
#u10021 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u10022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:2px;
}
#u10022 {
  position:absolute;
  left:616px;
  top:46px;
  width:140px;
  height:1px;
}
#u10023 {
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u10024 {
  position:absolute;
  left:597px;
  top:31px;
  width:23px;
  height:25px;
}
#u10025 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u10026 {
  position:absolute;
  left:602px;
  top:735px;
  width:48px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10027 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u10028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u10029 {
  position:absolute;
  left:760px;
  top:744px;
  width:320px;
  height:56px;
  font-size:20px;
  color:#000000;
}
#u10030 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u10031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u10031 {
  position:absolute;
  left:760px;
  top:633px;
  width:320px;
  height:56px;
  font-size:20px;
  color:#000000;
}
#u10032 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u10033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u10033 {
  position:absolute;
  left:760px;
  top:579px;
  width:320px;
  height:56px;
  font-size:20px;
  color:#000000;
}
#u10034 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u10035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CC0000;
}
#u10035 {
  position:absolute;
  left:760px;
  top:524px;
  width:320px;
  height:56px;
  font-size:20px;
  color:#CC0000;
}
#u10036 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u10037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u10037 {
  position:absolute;
  left:760px;
  top:688px;
  width:320px;
  height:56px;
  font-size:20px;
  color:#000000;
}
#u10038 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u10039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:2px;
}
#u10039 {
  position:absolute;
  left:649px;
  top:759px;
  width:101px;
  height:1px;
}
#u10040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10041 {
  position:absolute;
  left:685px;
  top:656px;
  width:27px;
  height:36px;
  color:#FF0000;
}
#u10042 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
