body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5997 {
  position:absolute;
  left:170px;
  top:154px;
  width:100px;
  height:60px;
}
#u5998 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5999 {
  position:absolute;
  left:326px;
  top:154px;
  width:100px;
  height:60px;
}
#u6000 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6001 {
  position:absolute;
  left:482px;
  top:154px;
  width:100px;
  height:60px;
}
#u6002 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6003 {
  position:absolute;
  left:638px;
  top:154px;
  width:100px;
  height:60px;
}
#u6004 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6005 {
  position:absolute;
  left:170px;
  top:20px;
  width:100px;
  height:60px;
}
#u6006 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6007 {
  position:absolute;
  left:30px;
  top:89px;
  width:100px;
  height:60px;
}
#u6008 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6009 {
  position:absolute;
  left:326px;
  top:20px;
  width:100px;
  height:60px;
}
#u6010 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6011 {
  position:absolute;
  left:482px;
  top:20px;
  width:100px;
  height:60px;
}
#u6012 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6013 {
  position:absolute;
  left:638px;
  top:20px;
  width:100px;
  height:60px;
}
#u6014 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6015 {
  position:absolute;
  left:794px;
  top:20px;
  width:100px;
  height:60px;
}
#u6016 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6017 {
  position:absolute;
  left:950px;
  top:20px;
  width:100px;
  height:60px;
}
#u6018 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6019 {
  position:absolute;
  left:130px;
  top:119px;
  width:0px;
  height:0px;
}
#u6019_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u6019_seg1 {
  position:absolute;
  left:16px;
  top:-73px;
  width:8px;
  height:77px;
}
#u6019_seg2 {
  position:absolute;
  left:16px;
  top:-73px;
  width:24px;
  height:8px;
}
#u6019_seg3 {
  position:absolute;
  left:27px;
  top:-79px;
  width:20px;
  height:20px;
}
#u6020 {
  position:absolute;
  left:-30px;
  top:-42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6021 {
  position:absolute;
  left:130px;
  top:119px;
  width:0px;
  height:0px;
}
#u6021_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u6021_seg1 {
  position:absolute;
  left:16px;
  top:-4px;
  width:8px;
  height:73px;
}
#u6021_seg2 {
  position:absolute;
  left:16px;
  top:61px;
  width:24px;
  height:8px;
}
#u6021_seg3 {
  position:absolute;
  left:27px;
  top:55px;
  width:20px;
  height:20px;
}
#u6022 {
  position:absolute;
  left:-30px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6023 {
  position:absolute;
  left:270px;
  top:50px;
  width:0px;
  height:0px;
}
#u6023_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u6023_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6024 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6025 {
  position:absolute;
  left:426px;
  top:50px;
  width:0px;
  height:0px;
}
#u6025_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u6025_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6026 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6027 {
  position:absolute;
  left:582px;
  top:50px;
  width:0px;
  height:0px;
}
#u6027_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u6027_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6028 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6029 {
  position:absolute;
  left:738px;
  top:50px;
  width:0px;
  height:0px;
}
#u6029_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u6029_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6030 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6031 {
  position:absolute;
  left:894px;
  top:50px;
  width:0px;
  height:0px;
}
#u6031_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u6031_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6032 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6033 {
  position:absolute;
  left:1000px;
  top:80px;
  width:0px;
  height:0px;
}
#u6033_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u6033_seg1 {
  position:absolute;
  left:-784px;
  top:36px;
  width:788px;
  height:8px;
}
#u6033_seg2 {
  position:absolute;
  left:-784px;
  top:36px;
  width:8px;
  height:38px;
}
#u6033_seg3 {
  position:absolute;
  left:-790px;
  top:61px;
  width:20px;
  height:20px;
}
#u6034 {
  position:absolute;
  left:-437px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6035 {
  position:absolute;
  left:270px;
  top:184px;
  width:0px;
  height:0px;
}
#u6035_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u6035_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6036 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6037 {
  position:absolute;
  left:426px;
  top:184px;
  width:0px;
  height:0px;
}
#u6037_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u6037_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6038 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6039 {
  position:absolute;
  left:582px;
  top:184px;
  width:0px;
  height:0px;
}
#u6039_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u6039_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6040 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6041 {
  position:absolute;
  left:688px;
  top:154px;
  width:0px;
  height:0px;
}
#u6041_seg0 {
  position:absolute;
  left:-4px;
  top:-58px;
  width:8px;
  height:58px;
}
#u6041_seg1 {
  position:absolute;
  left:-472px;
  top:-58px;
  width:476px;
  height:8px;
}
#u6041_seg2 {
  position:absolute;
  left:-472px;
  top:-74px;
  width:8px;
  height:24px;
}
#u6041_seg3 {
  position:absolute;
  left:-478px;
  top:-81px;
  width:20px;
  height:20px;
}
#u6042 {
  position:absolute;
  left:-267px;
  top:-62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:464px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6043 {
  position:absolute;
  left:30px;
  top:254px;
  width:1040px;
  height:464px;
}
#u6044 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  word-wrap:break-word;
}
