body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:444px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:32px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:32px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:88px;
  width:300px;
  height:194px;
  line-height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:194px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:240px;
  width:320px;
  height:360px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:360px;
}
#u7 {
  position:absolute;
  left:2px;
  top:172px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:384px;
  width:320px;
  height:216px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u9 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:22px;
  top:276px;
  width:292px;
  height:79px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:79px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:30px;
  top:284px;
  width:200px;
  height:32px;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:88px;
  top:110px;
  width:166px;
  height:83px;
  font-size:16px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:83px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:162px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:18px;
  top:242px;
  width:249px;
  height:33px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:33px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:298px;
  top:244px;
  width:23px;
  height:33px;
  font-size:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:33px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:270px;
  top:358px;
  width:43px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:144px;
  top:10px;
  width:77px;
  height:16px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:10px;
  top:36px;
  width:32px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:302px;
  top:212px;
  width:68px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:1px;
}
#u26 {
  position:absolute;
  left:370px;
  top:196px;
  width:74px;
  height:61px;
  color:#FF0000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:61px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
